---
layout: default
---

{% assign path = page.path | split:"." | first | split:"/" %}
{% assign resource_path = page.path | split:"." | first | append:".csv" %}

{% assign path0 = path[0] %}
{% assign path1 = path[1] %}
{% assign data_table = site.data[path0][path1] %}

{% for r in site.data.datapackage.resources %}
  {% if r.path == resource_path %}
    {% assign resource = r %}
  {% endif %}
{% endfor %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.github.url }}/">
        {{ site.data.datapackage.title }}
      </a>
    </div>
  </div>
</nav>

<h1>{{ resource.name }}</h1>

{% include data_table.html source = resource.path %}

{% assign csvlint = resource.links | where:"name","CSV Validation" | first %}

<a class="btn btn-primary hidden" id="download-csv" href="{{ site.github.url }}/{{ resource.path }}"><i class="fa fa-cloud-download"></i> Download CSV</a>
