---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - 49246908e4ebf06138aa1097967420b7eee3c777
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Wed, 15 Feb 2017 14:37:55 GMT
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - 61afc9dbd65a8cdf160cd77a13caf89738a9b9a0
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Wed, 15 Feb 2017 14:37:55 GMT
recorded_with: VCR 3.0.3
