---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - 5cc4555c16fb4d77385962d89f16dca99d5348d5
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Thu, 12 May 2016 09:24:55 GMT
[...]
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - 55d308df4b6a5402eb5241dc7f821468e2eda3cd
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Thu, 12 May 2016 09:24:55 GMT
recorded_with: VCR 3.0.1
