---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - 8589eb1ffa41635ba7f02fa887da93a9870872cc
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Tue, 07 Feb 2017 20:18:55 GMT
[...]
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - a91ba84d219323b68e3be718999d3ecaf628622f
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Tue, 07 Feb 2017 20:18:55 GMT
recorded_with: VCR 3.0.3
