<div id='license-wizard' class='hidden top-buffer well'>

	<div class='license-wizard-step' data-step='1A'>
		<p>Are you the creator, owner or sole rights holder of the data you are publishing?</p>
		<button class='btn btn-tertiary' data-next-step='2A'>Yes</button>
		<button class='btn btn-tertiary' data-next-step='1B'>No</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>

	<div class='license-wizard-step hidden' data-step='1B'>
		<p>If your data includes data from other sources, unless the copyright has expired, each rights holder of the third-party data must give you permission to publish it as open data.</p>
		<p>The rights holder of the third-party data can give you permission to publish it, by either:</p>
		<ul>
			<li>Applying an open licence to the data</li>
			<li>Providing you written permission to publish the data under an open licence</li>
			<li>Waiving their copyright in the data, thereby placing it in the public domain</li>
		</ul>
		<button class='btn btn-tertiary' data-next-step='2A'>I understand, Let me add a license</button>
		<button class='btn btn-tertiary' data-action='restart'>Start again</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>

	<div class='license-wizard-step hidden' data-step='2A'>
		<p>Are you working for a UK government agency?</p>
		<button class='btn btn-tertiary' data-next-step='2B'>Yes</button>
		<button class='btn btn-tertiary' data-next-step='3A'>No</button>
		<button class='btn btn-tertiary' data-action='restart'>Start again</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>

	<div class='license-wizard-step hidden' data-step='2B'>
		<p>Recommended option:</p>
		<p>OGL (Open Government License 3.0 - UK)</p>
		<p><strong>The licensor permits users of this information to:</strong></p>
		<ul>
			<li>Copy, publish, distribute and transmit the information</li>
			<li>Adapt the information</li>
			<li>exploit the information commercially and non-commercially for example, by combining it with other information, or by including it in your own product or application</li>
		</ul>
		<p><strong>Users of this information must (where any of the above statements apply):</strong></p>
		<ul>
			<li>Acknowledge the source of the Information in your product or application by including or linking to any attribution statement specified by the Information Provider(s) and, where possible, provide a link to this licence.</li>
		</ul>
		<a href='#'>More information</a>
		<button class='btn btn-tertiary' data-action=''>Choose this license</button>
		<button class='btn btn-tertiary' data-action='restart'>Start again</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>

	<div class='license-wizard-step hidden' data-step='3A'>
		<p>All open licenses grant permission for others to:</p>
		<ul>
			<li>copy and redistribute the material in any medium or format</li>
			<li>remix, transform, and build upon the material for any purpose, even commercially</li>
		</ul>
		Do you require that others license their adaptations of your work under these same terms.</p>
		<button class='btn btn-tertiary' data-next-step='3C'>Yes - others must redistribute any adaptations under the same license</button>
		<button class='btn btn-tertiary' data-next-step='3B'>No</button>
		<button class='btn btn-tertiary' data-action='restart'>Start again</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>

	<div class='license-wizard-step hidden' data-step='3B'>
		<p>Recommended license:</p>
		<p>CC-BY (Creative Commons - Attribution)</p>
		<p>This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials.</p>
		<a href='#'>More information</a>
		<button class='btn btn-tertiary' data-action=''>Choose this license</button>
		<button class='btn btn-tertiary' data-action='restart'>Start again</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>

	<div class='license-wizard-step hidden' data-step='3C'>
		<p>Recommended license:</p>
		<p>CC-BY-SA (Creative Commons - Attribution)</p>
		<p>This license lets others remix, tweak, and build upon your work even for commercial purposes, as long as they credit you and license their new creations under the identical terms. This license is often compared to “copyleft” free and open source software licenses. All new works based on yours will carry the same license, so any derivatives will also allow commercial use. This is the license used by Wikipedia, and is recommended for materials that would benefit from incorporating content from Wikipedia and similarly licensed projects.</p>
		<a href='#'>More information</a>
		<button class='btn btn-tertiary' data-action=''>Choose this license</button>
		<button class='btn btn-tertiary' data-action='restart'>Start again</button>
		<button class='btn btn-tertiary' data-action='close'>X</button>
	</div>
	
</div>