<div id="wizard-sidebar">
  <div class="wizard-sidebar-step wizard-sidebar-step-active">
    <h4><i class="fa fa-folder"></i> Create a model</h4>
    <div class="wizard-sidebar-step-description"><p>Create a model by adding contraints.</p></div>
    <div class="arrow-right"></div>
  </div>
</div>