<div id="wizard-sidebar">
  <div class="wizard-sidebar-step wizard-sidebar-step-active">
    <h4><i class="fa fa-folder"></i> Create a new field in your model</h4>
    <div class="wizard-sidebar-step-description"><p>A field is like a column name. Add a helpful description so people know what this field represents and what data to capture. A .constraint defines rules for the data.</p></div>
    <div class="arrow-right"></div>
  </div>
</div>