---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3512'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - '"8a65a26d1a5005e883ecdbdeb1c2f48d"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":58626950,"name":"my-awesome-repo","full_name":"git-data-publisher/my-awesome-repo","owner":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/git-data-publisher","html_url":"https://github.com/git-data-publisher","followers_url":"https://api.github.com/users/git-data-publisher/followers","following_url":"https://api.github.com/users/git-data-publisher/following{/other_user}","gists_url":"https://api.github.com/users/git-data-publisher/gists{/gist_id}","starred_url":"https://api.github.com/users/git-data-publisher/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/git-data-publisher/subscriptions","organizations_url":"https://api.github.com/users/git-data-publisher/orgs","repos_url":"https://api.github.com/users/git-data-publisher/repos","events_url":"https://api.github.com/users/git-data-publisher/events{/privacy}","received_events_url":"https://api.github.com/users/git-data-publisher/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/git-data-publisher/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo","forks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/deployments","created_at":"2016-05-12T09:19:39Z","updated_at":"2016-05-12T09:19:39Z","pushed_at":"2016-05-12T09:19:39Z","git_url":"git://github.com/git-data-publisher/my-awesome-repo.git","ssh_url":"git@github.com:git-data-publisher/my-awesome-repo.git","clone_url":"https://github.com/git-data-publisher/my-awesome-repo.git","svn_url":"https://github.com/git-data-publisher/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Thu, 12 May 2016 09:20:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3511'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - W/"58e0284b5630436a01c3354375ed6aa9"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"6e597065e3016465aa21ee59ad023e7ba280d9b3","commit":{"author":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-12T09:19:39Z"},"committer":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-12T09:19:39Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/6e597065e3016465aa21ee59ad023e7ba280d9b3","comment_count":0},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/6e597065e3016465aa21ee59ad023e7ba280d9b3","html_url":"https://github.com/git-data-publisher/my-awesome-repo/commit/6e597065e3016465aa21ee59ad023e7ba280d9b3","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/6e597065e3016465aa21ee59ad023e7ba280d9b3/comments","author":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gr[...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"6e597065e3016465aa21ee59ad023e7ba280d9b3"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3510'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - '"87e4e1939fa2beeb37889f00fa9e46c5"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"6e597065e3016465aa21ee59ad023e7ba280d9b3","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/6e597065e3016465aa21ee59ad023e7ba280d9b3"}}'
  recorded_at: Thu, 12 May 2016 09:20:22 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3508'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - W/"062f1c0f9b4dd116a23a17665f94f68c"
      Last-Modified:
      - Thu, 12 May 2016 09:19:39 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":58626950,"name":"my-awesome-repo","full_name":"git-data-publisher/my-awesome-repo","owner":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u[...]
- request:
    method: delete
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3507'
      X-Ratelimit-Reset:
      - '1463046077'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 May 2016 09:20:23 GMT
recorded_with: VCR 3.0.0
