language: ruby
cache: bundler
sudo: false
rvm:
- 2.1.4
bundler_args: "--without development --path=~/.bundle"
before_script:
- bundle exec rake db:create db:migrate
addons:
  postgresql: '9.3'
notifications:
  irc:
    channels:
    - irc.freenode.net#theodi
    template:
    - "%{repository} %{branch} - %{message} %{build_url}"
    on_success: change
    on_failure: always
deploy:
  provider: heroku
  strategy: api
  api_key:
    secure: YJnNMUmk/xpwehdo8uc3zaBwOY3LpmF1arjXQUIWE5cJ8a0XQ6CiyvccMKGIufKvqiyS5LX1ObQxbROZNyM2GLn5NB/Q6tBpGH8MuvVUVRELb1SUyirBLRjH6ojD7ObeEOkVs64FEXq/zYjOfi8/q+MOyxacK2ltt6VK8s0Nev4=
  run:
  - rake db:migrate
  app: git-data-publisher
  on:
    repo: theodi/git-data-publisher
env:
  global:
  - secure: Qyy4hRRC1BtmcGaipB3f8xX12eGMnwsvmDKTg2x/I2Jf17IevVG14hG6mDrk3DJ+27UiBj2YkABozIZA1rC/b7h2dFhnSJhaeaauAp2wHs2C1ndR/KYbrWOIon9B6SiNFFmqa8YmtYGHMvPHrWVfhkpQV8qqwbeRt5w8hRzpJMY=
  - secure: hk/h4W5EiZSnivLgn72GT4IO9EBtC3cLgG621cXDtxlkdl7E9YuXuLNFvv8BkRYGAqllhG9g9RM8T18q5sIsTkJPS5ZUPH/v7x57bJPrRwxG2H92QE49+lIuywctW89yJg2h1QP6x3xLbPcWyMBgv40qRvCotno7HK6JGA0Gqac=
  - secure: C1utYxt/mvKN4Nwa+wZy6ot11Q3KlGbsygOkyJ/Uc0AGtBXbvrRoBtw2cBOchywW+zJrOp35tNN4iRQbYng3lrmkFe3HDb1nSCbsAbi+geeNehzIL56O72xlZbNIzTUDg0e+dvKYyHnU6/fwm6SGk5TxJlpwjCjlSEI2i7V5wXg=
  - secure: fBSSBQHODJ0HRuOFWRK9DO8JB28QXGvDKWFUPKvLNpHg9z/Md7Nn3YgfB+v3lOd6pdbxxhdDkumh25ALIt9OB+3H2DKG2gmNBcTXoz2/qxWuRExLYjb0/Kl3IqqCDto4tA08c/hCci2vbI7mG0f/n7yU2mmtL/sutt0kjsHD1Xk=
  - secure: d3h+9MIwLwPoSOUquiS8gd3yjeykvqglE+ipfKIZ3mN3kwXQuMSLO77mW31daT8L14VL67MXX7oC9AWBJNZdPa1WOf0yhOACieHZJsy8DnAZTA7/WGcBq69Y1iDuqXjgUlt4gNS7dICezV8/ELib6LBQ0Nih5PnDYRg4dXjyd1s=
  - secure: ZDAXMwY5NRA6yJ+yPg5c8DtM4eGaVEP/ENGUSd3lOYAIkNfLqLzbnTvT1eT/uu8J3NTxM1boHfOWJ2fOcR54ehLcp6PDTphEC64kW/RtX1WxOYu/LmDSsQJ2+QQImUHVWjaF9nwLwX3ZMMtF/xzoftik/Bauv2D5obkpu+K5KpI=
