---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4578'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"1255555d275d433c926c270b4fc3a401"
      Last-Modified:
      - Thu, 26 May 2016 12:32:18 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/git-data-publisher","html_url":"https://github.com/git-data-publisher","followers_url":"https://api.github.com/users/git-data-publisher/followers","following_url":"https://api.github.com/users/git-data-publisher/following{/other_user}","gists_url":"https://api.github.com/users/git-data-publisher/gists{/gist_id}","starred_url":"https://api.github.com/users/git-data-publisher/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/git-data-publisher/subscriptions","organizations_url":"https://api.github.com/users/git-data-publisher/orgs","repos_url":"https://api.github.com/users/git-data-publisher/repos","events_url":"https://api.github.com/users/git-data-publisher/events{/privacy}","received_events_url":"https://api.github.com/users/git-data-publisher/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2014-10-10T08:16:33Z","updated_at":"2016-05-26T12:32:18Z"}'
  recorded_at: Thu, 26 May 2016 13:09:19 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/octopub-data/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4577'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"ad301dda8e30c443975cdd5d0b4f2d35"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/octopub-data/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":59751205,"name":"my-awesome-repo","full_name":"octopub-data/my-awesome-repo","owner":{"login":"octopub-data","id":19590756,"avatar_url":"https://avatars.githubusercontent.com/u/19590756?v=3","gravatar_id":"","url":"https://api.github.com/users/octopub-data","html_url":"https://github.com/octopub-data","followers_url":"https://api.github.com/users/octopub-data/followers","following_url":"https://api.github.com/users/octopub-data/following{/other_user}","gists_url":"https://api.github.com/users/octopub-data/gists{/gist_id}","starred_url":"https://api.github.com/users/octopub-data/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octopub-data/subscriptions","organizations_url":"https://api.github.com/users/octopub-data/orgs","repos_url":"https://api.github.com/users/octopub-data/repos","events_url":"https://api.github.com/users/octopub-data/events{/privacy}","received_events_url":"https://api.github.com/users/octopub-data/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/octopub-data/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/octopub-data/my-awesome-repo","forks_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/deployments","created_at":"2016-05-26T13:09:19Z","updated_at":"2016-05-26T13:09:19Z","pushed_at":"2016-05-26T13:09:19Z","git_url":"git://github.com/octopub-data/my-awesome-repo.git","ssh_url":"git@github.com:octopub-data/my-awesome-repo.git","clone_url":"https://github.com/octopub-data/my-awesome-repo.git","svn_url":"https://github.com/octopub-data/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"octopub-data","id":19590756,"avatar_url":"https://avatars.githubusercontent.com/u/19590756?v=3","gravatar_id":"","url":"https://api.github.com/users/octopub-data","html_url":"https://github.com/octopub-data","followers_url":"https://api.github.com/users/octopub-data/followers","following_url":"https://api.github.com/users/octopub-data/following{/other_user}","gists_url":"https://api.github.com/users/octopub-data/gists{/gist_id}","starred_url":"https://api.github.com/users/octopub-data/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octopub-data/subscriptions","organizations_url":"https://api.github.com/users/octopub-data/orgs","repos_url":"https://api.github.com/users/octopub-data/repos","events_url":"https://api.github.com/users/octopub-data/events{/privacy}","received_events_url":"https://api.github.com/users/octopub-data/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Thu, 26 May 2016 13:09:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4576'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"b7ca5871aa819cd79ec586847981bcb8"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"b067c8e2246bcea5e709f6a523ab63c22c441203","commit":{"author":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-26T13:09:19Z"},"committer":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-26T13:09:19Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/b067c8e2246bcea5e709f6a523ab63c22c441203","comment_count":0},"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits/b067c8e2246bcea5e709f6a523ab63c22c441203","html_url":"https://github.com/octopub-data/my-awesome-repo/commit/b067c8e2246bcea5e709f6a523ab63c22c441203","comments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits/b067c8e2246bcea5e709f6a523ab63c22c441203/comments","author":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url[...]
- request:
    method: post
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"b067c8e2246bcea5e709f6a523ab63c22c441203"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4575'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"0611d9df4b79552454add9d183070117"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"b067c8e2246bcea5e709f6a523ab63c22c441203","type":"commit","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/b067c8e2246bcea5e709f6a523ab63c22c441203"}}'
  recorded_at: Thu, 26 May 2016 13:09:24 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - [...]
- request:
    method: delete
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4572'
      X-Ratelimit-Reset:
      - '1464269351'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 13:09:25 GMT
recorded_with: VCR 3.0.1
