---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1466674818'
      Etag:
      - W/"1b899c3d0a0d7d5548b802472d295edf"
      Last-Modified:
      - Thu, 23 Jun 2016 08:39:15 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2014-10-10T08:16:33Z","updated_at":"2016-06-23T08:39:15Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":440,"collaborators":0,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 23 Jun 2016 08:51:08 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1466674818'
      Etag:
      - '"c08500e5f0d387a422acd5468ef1df96"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/test-user/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":61790227,"name":"my-awesome-repo","full_name":"test-user/my-awesome-repo","owner":{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/test-user/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/test-user/my-awesome-repo","forks_url":"https://api.github.com/repos/test-user/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/test-user/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-user/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-user/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/test-user/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/test-user/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/test-user/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/test-user/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/test-user/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-user/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/test-user/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/test-user/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/test-user/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/test-user/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/test-user/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/test-user/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-user/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-user/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/test-user/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-user/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/test-user/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-user/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/test-user/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/test-user/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/test-user/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-user/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/test-user/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/test-user/my-awesome-repo/deployments","created_at":"2016-06-23T08:52:07Z","updated_at":"2016-06-23T08:52:07Z","pushed_at":"2016-06-23T08:52:07Z","git_url":"git://github.com/test-user/my-awesome-repo.git","ssh_url":"git@github.com:test-user/my-awesome-repo.git","clone_url":"https://github.com/test-user/my-awesome-repo.git","svn_url":"https://github.com/test-user/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Thu, 23 Jun 2016 08:52:07 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4939'
      X-Ratelimit-Reset:
      - '1466674818'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jun 2016 08:52:08 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/orgs/octopub-data/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1466674818'
      Etag:
      - W/"d53a67f7ddce930f7c428b7f244f5a3b"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"19d640a2c43d5a40e7e69d9c48376d28245450ff","commit":{"author":{"name":"test-user","email":"pezholio+test-user@gmail.com","date":"2016-06-23T08:52:23Z"},"committer":{"name":"test-user","email":"pezholio+test-user@gmail.com","date":"2016-06-23T08:52:23Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/19d640a2c43d5a40e7e69d9c48376d28245450ff","comment_count":0},"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits/19d640a2c43d5a40e7e69d9c48376d28245450ff","html_url":"https://github.com/octopub-data/my-awesome-repo/commit/19d640a2c43d5a40e7e69d9c48376d28245450ff","comments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits/19d640a2c43d5a40e7e69d9c48376d28245450ff/comments","author":{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https:[...]
- request:
    method: post
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"19d640a2c43d5a40e7e69d9c48376d28245450ff"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4918'
      X-Ratelimit-Reset:
      - '1466674818'
      Etag:
      - '"d9169aac93ff624d21adaba358b00a2f"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"19d640a2c43d5a40e7e69d9c48376d28245450ff","type":"commit","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/19d640a2c43d5a40e7e69d9c48376d28245450ff"}}'
  recorded_at: Thu, 23 Jun 2016 08:52:24 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - [...]
- request:
    method: delete
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4915'
      X-Ratelimit-Reset:
      - '1466674818'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Jun 2016 08:52:25 GMT
recorded_with: VCR 3.0.3
