---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3310'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - '"e3c497aa33e8f4d56b85a5e67cb835f8"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":58627040,"name":"my-awesome-repo","full_name":"git-data-publisher/my-awesome-repo","owner":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/git-data-publisher","html_url":"https://github.com/git-data-publisher","followers_url":"https://api.github.com/users/git-data-publisher/followers","following_url":"https://api.github.com/users/git-data-publisher/following{/other_user}","gists_url":"https://api.github.com/users/git-data-publisher/gists{/gist_id}","starred_url":"https://api.github.com/users/git-data-publisher/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/git-data-publisher/subscriptions","organizations_url":"https://api.github.com/users/git-data-publisher/orgs","repos_url":"https://api.github.com/users/git-data-publisher/repos","events_url":"https://api.github.com/users/git-data-publisher/events{/privacy}","received_events_url":"https://api.github.com/users/git-data-publisher/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/git-data-publisher/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo","forks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/deployments","created_at":"2016-05-12T09:20:45Z","updated_at":"2016-05-12T09:20:45Z","pushed_at":"2016-05-12T09:20:46Z","git_url":"git://github.com/git-data-publisher/my-awesome-repo.git","ssh_url":"git@github.com:git-data-publisher/my-awesome-repo.git","clone_url":"https://github.com/git-data-publisher/my-awesome-repo.git","svn_url":"https://github.com/git-data-publisher/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Thu, 12 May 2016 09:21:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3309'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - W/"3bb1749dade70941be7e6d6cd9c22817"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"0e8876244e92c448453f9f473afc87381ec9c30b","commit":{"author":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-12T09:20:46Z"},"committer":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-12T09:20:46Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/0e8876244e92c448453f9f473afc87381ec9c30b","comment_count":0},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/0e8876244e92c448453f9f473afc87381ec9c30b","html_url":"https://github.com/git-data-publisher/my-awesome-repo/commit/0e8876244e92c448453f9f473afc87381ec9c30b","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/0e8876244e92c448453f9f473afc87381ec9c30b/comments","author":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gr[...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"0e8876244e92c448453f9f473afc87381ec9c30b"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3308'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - '"db228a666f9bd6626dab9c12ea163c79"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"0e8876244e92c448453f9f473afc87381ec9c30b","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/0e8876244e92c448453f9f473afc87381ec9c30b"}}'
  recorded_at: Thu, 12 May 2016 09:21:28 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3306'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - W/"7527242a60bf56bb16d9c6b972931c20"
      Last-Modified:
      - Thu, 12 May 2016 09:20:45 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":58627040,"name":"my-awesome-repo","full_name":"git-data-publisher/my-awesome-repo","owner":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u[...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3304'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - W/"9115fc61ff431d8c2a597d686dbfd766"
      Last-Modified:
      - Thu, 12 May 2016 09:20:45 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"0e8876244e92c448453f9f473afc87381ec9c30b","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/0e8876244e92c448453f9f473afc87381ec9c30b"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/master","object":{"sha":"0e8876244e92c448453f9f473afc87381ec9c30b","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/0e8876244e92c448453f9f473afc87381ec9c30b"}}]'
  recorded_at: Thu, 12 May 2016 09:21:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/0e8876244e92c448453f9f473afc87381ec9c30b?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3302'
      X-Ratelimit-Reset:
      - '1463046077'
      Etag:
      - W/"11acd92eafd53b8c4dfa84b98a1bad03"
      Last-Modified:
      - Thu, 12 May 2016 09:20:45 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"0e8876244e92c448453f9f473afc87381ec9c30b","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/0e8876244e92c448453f9f473afc87381ec9c30b","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"98b86d075133bc45f0a96ce008175bb5a4f6567a","size":17,"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/98b86d075133bc45f0a96ce008175bb5a4f6567a"}],"truncated":false}'
  recorded_at: Thu, 12 May 2016 09:21:30 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3301'
      X-Ratelimit-Reset:
      - '1463046077'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 12 May 2016 09:21:31 GMT
recorded_with: VCR 3.0.0
