---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1466760955'
      Etag:
      - W/"59f5dd478a1c515f7aca8b80726f4a52"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":42720716,"name":"api-sandbox","full_name":"octopub/api-sandbox","owner":{"login":"octopub","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/octopub","html_url":"https://github.com/octopub","followers_url":"https://api.github.com/users/octopub/followers","following_url":"https://api.github.com/users/octopub/following{/other_user}","gists_url":"https://api.github.com/users/octopub/gists{/gist_id}","starred_url":"https://api.github.com/users/octopub/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octopub/subscriptions","organizations_url":"https://api.github.com/users/octopub/orgs","repos_url":"https://api.github.com/users/octopub/repos","events_url":"https://api.github.com/users/octopub/events{/privacy}","received_events_url":"https://api.github.com/users/octopub/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/octopub/api-sandbox","description":null,"fork":false,"url":"https://api.github.com/repos/octopub/api-sandbox","forks_url":"https://api.github.com/repos/octopub/api-sandbox/forks","keys_url":"https://api.github.com/repos/octopub/api-sandbox/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octopub/api-sandbox/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octopub/api-sandbox/teams","hooks_url":"https://api.github.com/repos/octopub/api-sandbox/hooks","issue_events_url":"https://api.github.com/repos/octopub/api-sandbox/issues/events{/number}","events_url":"https://api.github.com/repos/octopub/api-sandbox/events","assignees_url":"https://api.github.com/repos/octopub/api-sandbox/assignees{/user}","branches_url":"https://api.github.com/repos/octopub/api-sandbox/branches{/branch}","tags_url":"https://api.github.com/repos/octopub/api-sandbox/tags","blobs_url":"https://api.github.com/repos/octopub/api-sandbox/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octopub/api-sandbox/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octopub/api-sandbox/git/refs{/sha}","trees_url":"https://api.github.com/repos/octopub/api-sandbox/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octopub/api-sandbox/statuses/{sha}","languages_url":"https://api.github.com/repos/octopub/api-sandbox/languages","stargazers_url":"https://api.github.com/repos/octopub/api-sandbox/stargazers","contributors_url":"https://api.github.com/repos/octopub/api-sandbox/contributors","subscribers_url":"https://api.github.com/repos/octopub/api-sandbox/subscribers","subscription_url":"https://api.github.com/repos/octopub/api-sandbox/subscription","commits_url":"https://api.github.com/repos/octopub/api-sandbox/commits{/sha}","git_commits_url":"https://api.github.com/repos/octopub/api-sandbox/git/commits{/sha}","comments_url":"https://api.github.com/repos/octopub/api-sandbox/comments{/number}","issue_comment_url":"https://api.github.com/repos/octopub/api-sandbox/issues/comments{/number}","contents_url":"https://api.github.com/repos/octopub/api-sandbox/contents/{+path}","compare_url":"https://api.github.com/repos/octopub/api-sandbox/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octopub/api-sandbox/merges","archive_url":"https://api.github.com/repos/octopub/api-sandbox/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octopub/api-sandbox/downloads","issues_url":"https://api.github.com/repos/octopub/api-sandbox/issues{/number}","pulls_url":"https://api.github.com/repos/octopub/api-sandbox/pulls{/number}","milestones_url":"https://api.github.com/repos/octopub/api-sandbox/milestones{/number}","notifications_url":"https://api.github.com/repos/octopub/api-sandbox/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octopub/api-sandbox/labels{/name}","releases_url":"https://api.github.com/repos/octopub/api-sandbox/releases{/id}","deployments_url":"https://api.github.com/repos/octopub/api-sandbox/deployments","created_at":"2015-09-18T12:28:53Z","updated_at":"2015-09-18T12:28:53Z","pushed_at":"2015-09-18T12:28:54Z","git_url":"git://github.com/octopub/api-sandbox.git","ssh_url":"git@github.com:octopub/api-sandbox.git","clone_url":"https://github.com/octopub/api-sandbox.git","svn_url":"https://github.com/octopub/api-sandbox","homepage":null,"size":120,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":25155053,"name":"Here-is-some-data","full_name":"octopub/Here-is-some-data","owner":{"login":"octopub","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/octopub","html_url":"https://github.com/octopub","followers_url":"https://api.github.com/users/octopub/followers","following_url":"https://api.github.com/users/octopub/following{/other_user}","gists_url":"https://api.github.com/users/octopub/gists{/gi[...]
