<%= form_for(output_schema_field) do |f| %>
  <% if output_schema_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(output_schema_field.errors.count, "error") %> prohibited this output_schema_field from being saved:</h2>

      <ul>
      <% output_schema_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
