<% if @datasets.count > 0 %>
<div>
  <button>Pre-published collections</button>
  <button>Published collections</button>
  <table class="table"
  data-toggle="table"
  data-search="true"
  data-filter-control="true">
  <thead>
    <tr>
      <th data-sortable="true">Collection Name</th>
      <th data-sortable="true">Files</th>
      <th data-sortable="true">Schema</th>
      <th data-sortable="true">Creation date</th>
      <th data-sortable="true">Validation</th>
      <th>Action</th>
    </tr>
    </thead>
    <%= render(partial: "dataset", collection: @datasets) %>
    <!--above render is not populating a cell for every header specified - this is done in dataset.html.erb-->
  </table>
</div>

<% else %>
  <p class='text-center lead'>You currently have no datasets, why not <%= link_to 'add one', new_dataset_path %>?</p>
<% end %>
