<% if @datasets.count > 0 %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#prepublished">Pre-published collections</a></li>
  <li><a data-toggle="tab" href="#published">Published collections</a></li>
</ul>

<div class="tab-content">
  <div id="prepublished" class="tab-pane fade in active">
    <table class="table"
    data-toggle="table"
    data-filter-control="true">
    <thead>
      <tr>
        <th data-sortable="true">Collection Name</th>
        <th data-sortable="true">Files</th>
        <th data-sortable="true">Schema</th>
        <th data-sortable="true">Creation date</th>
        <th data-sortable="true">Validation</th>
        <th>Action</th>
      </tr>
      </thead>
    </table>
  </div>

  <div id="published" class="tab-pane fade">
    <table class="table"
    data-toggle="table"
    data-filter-control="true">
    <thead>
      <tr>
        <th data-sortable="true">Collection Name</th>
        <th data-sortable="true">Files</th>
        <th data-sortable="true">Schema</th>
        <th data-sortable="true">Publication date</th>
        <th>Action</th>
      </tr>
      </thead>
      <%= render(partial: "dataset", collection: @datasets) %>
      <!--above render is not populating a cell for every header specified - this is done in dataset.html.erb-->
    </table>
  </div>
</div>

<% else %>
  <p class='text-center lead'>You currently have no datasets, why not <%= link_to 'add one', new_dataset_path %>?</p>
<% end %>
