<% if @datasets.count > 0 %>
  <table class="table">
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Link</th>
      <% if @dashboard %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <%= render(partial: "dataset", collection: @datasets) %>
  </table>
<% else %>
  <p class='text-center lead'>You currently have no datasets, why not <%= link_to 'add one', new_dataset_path %>?</p>
<% end %>

<div class="text-center">
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>
