<% if @datasets.count > 0 %>
  <div class="toolbar" id="toolbar">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <h2 class="orange">All your data collections</h2>
      </div>
      <div class="col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4">
        <span class="pull-right"><%= bs_button_to "Create a new data collection", new_dataset_path, :class => "btn btn-secondary" %></span>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group has-feedback">
          <input name="search" id="myInput" class="form-control hasclear" type="text" placeholder='Search sets'>
          <span class="clearer glyphicon glyphicon-remove-circle form-control-feedback"></span>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped"
  data-toggle="table"
	data-sort-name="creation"
	data-sort-order="desc"
  data-classes="table"
  data-filter-control="true">
  <thead>
    <tr>
      <th data-sortable="true">Collection Name</th>
      <th>Number of files</th>
      <th>Schema</th>
      <th data-sortable="true" data-field="creation">Last updated</th>
      <!-- <th data-sortable="true">Validation</th> -->
      <th data-sortable="true">Published</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="myTable">
      <%= render(partial: "dataset", collection: @datasets, as: :dataset)  %>
    </tbody>
  </table>
<% else %>
  <p class='text-center lead'>You currently have no datasets, why not <%= link_to 'add one', new_dataset_path %>?</p>
<% end %>
