<div id="wizard-sidebar">
  <div class="wizard-sidebar-step wizard-sidebar-step-active">
    <h4><i class="fa fa-folder"></i> Create a collection for your data</h4>
    <div class="wizard-sidebar-step-description"><p>Think of a data collection as a folder of related data files. Even if you only have one file for now, the collection will be ready to hold more if you want to add more related files later.</p></div>

    <strong><p>Folder: <span id="chosen-folder">...</span></p></strong>
    <strong><p>Publication frequency: <span id="chosen-frequency">...</span></p></strong>

    <a class="wizard-sidebar-step-link show-step-one"><i class="fa fa-pencil-alt"></i> Edit</a>
    <div class="arrow-right"></div>
  </div>
  <div class="wizard-sidebar-step wizard-sidebar-step-disabled">
    <h4><i class="fa fa-address-card"></i> Add a licence</h4>
    <div class="wizard-sidebar-step-description"><p>A licence is an essential requirement for sharing your data openly. It tells people how the data can be accessed, used and shared.</p></div>
    <strong><p>Chosen licence: <span id="chosen-licence">...</span></p></strong>

    <a class="wizard-sidebar-step-link show-step-two" disabled="true"><i class="fa fa-pencil-alt"></i> Edit</a>
  </div>
  <div class="wizard-sidebar-step wizard-sidebar-step-disabled">
    <h4><i class="fa fa-file-alt"></i> Add your file(s) to the collection</h4>
    <ul class="sidebar-files">

    </ul>
    <div class="wizard-sidebar-step-description"><p>This collection should contain closely related sets of information, but may be composed of separate files that could be processed together.</p>
    <p>Eg. count_of_trees_by_latin_name.csv and tree_names_latin.csv.</p>
    <p>Or you may plan to publish new data for the same purpose, for example count_of_trees_January.csv and at a later date you can add count_of_trees_February.csv</p></div>
    <a class="wizard-sidebar-step-link show-step-three" disabled="true"><i class="fa fa-pencil-alt"></i> Edit</a>
  </div>

  <ul id="sidebar-links" class="hidden">
    <li>
      <strong><p>File: <span class="sidebar-file-details">...</span></p></strong>
      <strong><p>Schema: <span class="sidebar-schema-details">...</span></p></strong>
      <span class="sidebar-file-links"><a href="#" class="edit"><i class="fa fa-pencil-alt"></i> Edit</a></span>
    </li>
  </ul>
</div>