<h1 class="page-header">Thank you!</h1>

<!-- <% if @publishing_method == 'github_public' %>
<p class="lead">Your dataset has been queued for creation, and you should receive an email with a link to your dataset on Github shortly.</p>
<% elsif @publishing_method == 'github_private' %>
<p class="lead">Your dataset has been queued for creation, and you should receive an email with a link to your private repository on Github shortly.</p>
<% else %>
<p class="lead">Your dataset has been queued for creation and should be completed shortly.</p>
<% end %>
<p>If you haven't had an email after about five minutes, please check your spam filters.</p> -->
<p class="lead">Your data collection has been queued for creation and will be available as a pre-published collection on your dashboard shortly.</p>
<p></p>
