<h1 class="page-header">Thank you!</h1>

<p class="lead">
  Your dataset has been queued for creation, and you should receive an email with
  a link to your dataset on Github shortly.
</p>

<p>
  If you haven't had an email after about five minutes, please check your spam filters.
</p>
