<h1 class="page-header">Thank you!</h1>

<p class="lead">
  Your edits have been queued for creation, and your edits should appear on Github shortly.
</p>

<p>
  If you haven't had an email after about five minutes, please check your spam filters.
</p>
