---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4492'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"1255555d275d433c926c270b4fc3a401"
      Last-Modified:
      - Thu, 26 May 2016 12:32:18 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2014-10-10T08:16:33Z","updated_at":"2016-05-26T12:32:18Z"}'
  recorded_at: Thu, 26 May 2016 13:11:30 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/octopub-data/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4491'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"d46bd1d764dbc45816f8c52cd41ccef0"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/octopub-data/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":59751354,"name":"my-awesome-repo","full_name":"octopub-data/my-awesome-repo","owner":{"login":"octopub-data","id":19590756,"avatar_url":"https://avatars.githubusercontent.com/u/19590756?v=3","gravatar_id":"","url":"https://api.github.com/users/octopub-data","html_url":"https://github.com/octopub-data","followers_url":"https://api.github.com/users/octopub-data/followers","following_url":"https://api.github.com/users/octopub-data/following{/other_user}","gists_url":"https://api.github.com/users/octopub-data/gists{/gist_id}","starred_url":"https://api.github.com/users/octopub-data/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octopub-data/subscriptions","organizations_url":"https://api.github.com/users/octopub-data/orgs","repos_url":"https://api.github.com/users/octopub-data/repos","events_url":"https://api.github.com/users/octopub-data/events{/privacy}","received_events_url":"https://api.github.com/users/octopub-data/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/octopub-data/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/octopub-data/my-awesome-repo","forks_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/deployments","created_at":"2016-05-26T13:11:30Z","updated_at":"2016-05-26T13:11:30Z","pushed_at":"2016-05-26T13:11:31Z","git_url":"git://github.com/octopub-data/my-awesome-repo.git","ssh_url":"git@github.com:octopub-data/my-awesome-repo.git","clone_url":"https://github.com/octopub-data/my-awesome-repo.git","svn_url":"https://github.com/octopub-data/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"organization":{"login":"octopub-data","id":19590756,"avatar_url":"https://avatars.githubusercontent.com/u/19590756?v=3","gravatar_id":"","url":"https://api.github.com/users/octopub-data","html_url":"https://github.com/octopub-data","followers_url":"https://api.github.com/users/octopub-data/followers","following_url":"https://api.github.com/users/octopub-data/following{/other_user}","gists_url":"https://api.github.com/users/octopub-data/gists{/gist_id}","starred_url":"https://api.github.com/users/octopub-data/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octopub-data/subscriptions","organizations_url":"https://api.github.com/users/octopub-data/orgs","repos_url":"https://api.github.com/users/octopub-data/repos","events_url":"https://api.github.com/users/octopub-data/events{/privacy}","received_events_url":"https://api.github.com/users/octopub-data/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
  recorded_at: Thu, 26 May 2016 13:11:32 GMT
- request:
    method: get
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4490'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"316c482ef5c98a94e464ff041bc31be3"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"105ae19a7d9ade6b956809284924fbc8c8df6872","commit":{"author":{"name":"test-user","email":"pezholio+test-user@gmail.com","date":"2016-05-26T13:11:31Z"},"committer":{"name":"test-user","email":"pezholio+test-user@gmail.com","date":"2016-05-26T13:11:31Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/105ae19a7d9ade6b956809284924fbc8c8df6872","comment_count":0},"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits/105ae19a7d9ade6b956809284924fbc8c8df6872","html_url":"https://github.com/octopub-data/my-awesome-repo/commit/105ae19a7d9ade6b956809284924fbc8c8df6872","comments_url":"https://api.github.com/repos/octopub-data/my-awesome-repo/commits/105ae19a7d9ade6b956809284924fbc8c8df6872/comments","author":{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https:[...]
- request:
    method: post
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"105ae19a7d9ade6b956809284924fbc8c8df6872"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4489'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"34f0a542790afd445d6dd2aac33210fb"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"105ae19a7d9ade6b956809284924fbc8c8df6872","type":"commit","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/105ae19a7d9ade6b956809284924fbc8c8df6872"}}'
  recorded_at: Thu, 26 May 2016 13:11:33 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4485'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"4f56e9550ea078e3a07156f09b6c0f43"
      Last-Modified:
      - Thu, 26 May 2016 13:11:30 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"105ae19a7d9ade6b956809284924fbc8c8df6872","type":"commit","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/105ae19a7d9ade6b956809284924fbc8c8df6872"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/refs/heads/master","object":{"sha":"105ae19a7d9ade6b956809284924fbc8c8df6872","type":"commit","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/commits/105ae19a7d9ade6b956809284924fbc8c8df6872"}}]'
  recorded_at: Thu, 26 May 2016 13:11:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees/105ae19a7d9ade6b956809284924fbc8c8df6872?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4483'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"670b2d8cd7170bb17d248d76d5e9da77"
      Last-Modified:
      - Thu, 26 May 2016 13:11:30 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"105ae19a7d9ade6b956809284924fbc8c8df6872","url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/trees/105ae19a7d9ade6b956809284924fbc8c8df6872","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"98b86d075133bc45f0a96ce008175bb5a4f6567a","size":17,"url":"https://api.github.com/repos/octopub-data/my-awesome-repo/git/blobs/98b86d075133bc45f0a96ce008175bb5a4f6567a"}],"truncated":false}'
  recorded_at: Thu, 26 May 2016 13:11:34 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4482'
      X-Ratelimit-Reset:
      - '1464269351'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 26 May 2016 13:11:35 GMT
recorded_with: VCR 3.0.1
