---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - '"9aee4f12c0f458d3ae299aa0d57c1249"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":59097489,"name":"my-awesome-repo","full_name":"git-data-publisher/my-awesome-repo","owner":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/git-data-publisher","html_url":"https://github.com/git-data-publisher","followers_url":"https://api.github.com/users/git-data-publisher/followers","following_url":"https://api.github.com/users/git-data-publisher/following{/other_user}","gists_url":"https://api.github.com/users/git-data-publisher/gists{/gist_id}","starred_url":"https://api.github.com/users/git-data-publisher/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/git-data-publisher/subscriptions","organizations_url":"https://api.github.com/users/git-data-publisher/orgs","repos_url":"https://api.github.com/users/git-data-publisher/repos","events_url":"https://api.github.com/users/git-data-publisher/events{/privacy}","received_events_url":"https://api.github.com/users/git-data-publisher/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/git-data-publisher/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo","forks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/deployments","created_at":"2016-05-18T08:38:56Z","updated_at":"2016-05-18T08:38:56Z","pushed_at":"2016-05-18T08:38:57Z","git_url":"git://github.com/git-data-publisher/my-awesome-repo.git","ssh_url":"git@github.com:git-data-publisher/my-awesome-repo.git","clone_url":"https://github.com/git-data-publisher/my-awesome-repo.git","svn_url":"https://github.com/git-data-publisher/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Wed, 18 May 2016 08:39:55 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - W/"6b466937ed8f295c26d75ed682aeaaad"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"d919a030e5d5f4815414f1663259ca0d33a8cf4e","commit":{"author":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-18T08:38:57Z"},"committer":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-18T08:38:57Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/d919a030e5d5f4815414f1663259ca0d33a8cf4e","comment_count":0},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/d919a030e5d5f4815414f1663259ca0d33a8cf4e","html_url":"https://github.com/git-data-publisher/my-awesome-repo/commit/d919a030e5d5f4815414f1663259ca0d33a8cf4e","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/d919a030e5d5f4815414f1663259ca0d33a8cf4e/comments","author":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gr[...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"d919a030e5d5f4815414f1663259ca0d33a8cf4e"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - '"a1954b91199a172bd005acd9bba862aa"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"d919a030e5d5f4815414f1663259ca0d33a8cf4e","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/d919a030e5d5f4815414f1663259ca0d33a8cf4e"}}'
  recorded_at: Wed, 18 May 2016 08:39:56 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
  [...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"Well hi there!","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - '"a1a6b966fe7551ef673d1dd8e4ac0588"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f"}'
  recorded_at: Wed, 18 May 2016 08:39:57 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches/gh-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Rema[...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - W/"d7347b9dab2494b0a1c3d4cee836d34f"
      Last-Modified:
      - Wed, 18 May 2016 08:38:56 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"d919a030e5d5f4815414f1663259ca0d33a8cf4e","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/d919a030e5d5f4815414f1663259ca0d33a8cf4e"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/master","object":{"sha":"d919a030e5d5f4815414f1663259ca0d33a8cf4e","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/d919a030e5d5f4815414f1663259ca0d33a8cf4e"}}]'
  recorded_at: Wed, 18 May 2016 08:39:58 GMT
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"d919a030e5d5f4815414f1663259ca0d33a8cf4e","tree":[{"path":"my-awesome-file.csv","mode":"100644","type":"blob","sha":"dccdaf37cf4627f96c00fac987d21b4b5ed72b9f"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
    [...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update 2016-05-18T09:39:57+01:00 [ci skip]","tree":"3695ad8df07bce6e0ddac0f652505c940da5856a","parents":["d919a030e5d5f4815414f1663259ca0d33a8cf4e"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - '"0fe6ef85f91fcb90f5046b7[...]
- request:
    method: patch
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages
    body:
      encoding: UTF-8
      string: '{"sha":"381f632ac47778867506256046e90de7de244d12","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - W/"2d37b3f2faf976c0d1461370a09fd883"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"381f632ac47778867506256046e90de7de244d12","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/381f632ac47778867506256046e90de7de244d12"}}'
  recorded_at: Wed, 18 May 2016 08:39:59 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/381f632ac47778867506256046e90de7de244d12?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Rateli[...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/my-awesome-file.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1463564138'
      Etag:
      - W/"f3777cc6766ba3a99697429254a45b3b"
      Last-Modified:
      - Wed, 18 May 2016 08:39:01 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my-awesome-file.csv","path":"my-awesome-file.csv","sha":"dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","size":14,"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/my-awesome-file.csv?ref=gh-pages","html_url":"https://github.com/git-data-publisher/my-awesome-repo/blob/gh-pages/my-awesome-file.csv","git_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","download_url":"https://raw.githubusercontent.com/git-data-publisher/my-awesome-repo/gh-pages/my-awesome-file.csv","type":"file","content":"V2VsbCBoaSB0aGVyZSE=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/my-awesome-file.csv?ref=gh-pages","git":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","html":"https://github.com/git-data-publisher/my-awesome-repo/blob/gh-pages/my-awesome-file.csv"}}'
  recorded_at: Wed, 18 May 2016 08:40:01 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1463564138'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 May 2016 08:40:01 GMT
recorded_with: VCR 3.0.1
