---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4518'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"1255555d275d433c926c270b4fc3a401"
      Last-Modified:
      - Thu, 26 May 2016 12:32:18 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2014-10-10T08:16:33Z","updated_at":"2016-05-26T12:32:18Z"}'
  recorded_at: Thu, 26 May 2016 13:09:53 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4517'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"d505ce75f1cc3c5294f59c412113ab92"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/test-user/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":59751251,"name":"my-awesome-repo","full_name":"test-user/my-awesome-repo","owner":{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/test-user/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/test-user/my-awesome-repo","forks_url":"https://api.github.com/repos/test-user/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/test-user/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-user/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-user/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/test-user/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/test-user/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/test-user/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/test-user/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/test-user/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-user/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/test-user/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/test-user/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/test-user/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/test-user/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/test-user/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/test-user/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-user/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-user/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/test-user/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-user/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/test-user/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-user/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/test-user/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/test-user/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/test-user/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-user/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/test-user/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/test-user/my-awesome-repo/deployments","created_at":"2016-05-26T13:09:53Z","updated_at":"2016-05-26T13:09:53Z","pushed_at":"2016-05-26T13:09:53Z","git_url":"git://github.com/test-user/my-awesome-repo.git","ssh_url":"git@github.com:test-user/my-awesome-repo.git","clone_url":"https://github.com/test-user/my-awesome-repo.git","svn_url":"https://github.com/test-user/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Thu, 26 May 2016 13:09:54 GMT
- request:
    method: get
    uri: https://api.github.com/repos/test-user/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4516'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"4429eb10e47248f01146cb8108e47f1e"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"c0316ec31292c80f5d02d8e2d0908da852e09552","commit":{"author":{"name":"test-user","email":"pezholio+test-user@gmail.com","date":"2016-05-26T13:09:53Z"},"committer":{"name":"test-user","email":"pezholio+test-user@gmail.com","date":"2016-05-26T13:09:53Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/c0316ec31292c80f5d02d8e2d0908da852e09552","comment_count":0},"url":"https://api.github.com/repos/test-user/my-awesome-repo/commits/c0316ec31292c80f5d02d8e2d0908da852e09552","html_url":"https://github.com/test-user/my-awesome-repo/commit/c0316ec31292c80f5d02d8e2d0908da852e09552","comments_url":"https://api.github.com/repos/test-user/my-awesome-repo/commits/c0316ec31292c80f5d02d8e2d0908da852e09552/comments","author":{"login":"test-user","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.git[...]
- request:
    method: post
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"c0316ec31292c80f5d02d8e2d0908da852e09552"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4515'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"72ff33f02d1b86a495b88fc3d1bc1757"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"c0316ec31292c80f5d02d8e2d0908da852e09552","type":"commit","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/c0316ec31292c80f5d02d8e2d0908da852e09552"}}'
  recorded_at: Thu, 26 May 2016 13:09:55 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50[...]
- request:
    method: post
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"Well hi there!","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4513'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"a1a6b966fe7551ef673d1dd8e4ac0588"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/test-user/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f"}'
  recorded_at: Thu, 26 May 2016 13:09:56 GMT
- request:
    method: get
    uri: https://api.github.com/repos/test-user/my-awesome-repo/branches/gh-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4509'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"2b42d1a6b1bcb015612ddc8f09a36fe8"
      Last-Modified:
      - Thu, 26 May 2016 13:09:53 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"c0316ec31292c80f5d02d8e2d0908da852e09552","type":"commit","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/c0316ec31292c80f5d02d8e2d0908da852e09552"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/master","object":{"sha":"c0316ec31292c80f5d02d8e2d0908da852e09552","type":"commit","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/c0316ec31292c80f5d02d8e2d0908da852e09552"}}]'
  recorded_at: Thu, 26 May 2016 13:09:56 GMT
- request:
    method: post
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"c0316ec31292c80f5d02d8e2d0908da852e09552","tree":[{"path":"my-awesome-file.csv","mode":"100644","type":"blob","sha":"dccdaf37cf4627f96c00fac987d21b4b5ed72b9f"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4508'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
    [...]
- request:
    method: post
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update 2016-05-26T14:09:56+01:00 [ci skip]","tree":"3695ad8df07bce6e0ddac0f652505c940da5856a","parents":["c0316ec31292c80f5d02d8e2d0908da852e09552"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4507'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"182f69b603e97591731bbf2[...]
- request:
    method: patch
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages
    body:
      encoding: UTF-8
      string: '{"sha":"330851d402fe70f01af4377104af03cde7852a55","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4503'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"b28660ebe3e801781c2c67fd49c60b14"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"330851d402fe70f01af4377104af03cde7852a55","type":"commit","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/330851d402fe70f01af4377104af03cde7852a55"}}'
  recorded_at: Thu, 26 May 2016 13:09:58 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/trees/330851d402fe70f01af4377104af03cde7852a55?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit[...]
- request:
    method: get
    uri: https://api.github.com/repos/test-user/my-awesome-repo/contents/my-awesome-file.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4497'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"f3777cc6766ba3a99697429254a45b3b"
      Last-Modified:
      - Thu, 26 May 2016 13:09:57 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my-awesome-file.csv","path":"my-awesome-file.csv","sha":"dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","size":14,"url":"https://api.github.com/repos/test-user/my-awesome-repo/contents/my-awesome-file.csv?ref=gh-pages","html_url":"https://github.com/test-user/my-awesome-repo/blob/gh-pages/my-awesome-file.csv","git_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","download_url":"https://raw.githubusercontent.com/test-user/my-awesome-repo/gh-pages/my-awesome-file.csv","type":"file","content":"V2VsbCBoaSB0aGVyZSE=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/test-user/my-awesome-repo/contents/my-awesome-file.csv?ref=gh-pages","git":"https://api.github.com/repos/test-user/my-awesome-repo/git/blobs/dccdaf37cf4627f96c00fac987d21b4b5ed72b9f","html":"https://github.com/test-user/my-awesome-repo/blob/gh-pages/my-awesome-file.csv"}}'
  recorded_at: Thu, 26 May 2016 13:10:00 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4496'
      X-Ratelimit-Reset:
      - '1464269351'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 13:10:00 GMT
recorded_with: VCR 3.0.1
