---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4544'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"1255555d275d433c926c270b4fc3a401"
      Last-Modified:
      - Thu, 26 May 2016 12:32:18 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"<GITHUB_USER>","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USER>","html_url":"https://github.com/<GITHUB_USER>","followers_url":"https://api.github.com/users/<GITHUB_USER>/followers","following_url":"https://api.github.com/users/<GITHUB_USER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USER>/repos","events_url":"https://api.github.com/users/<GITHUB_USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USER>/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2014-10-10T08:16:33Z","updated_at":"2016-05-26T12:32:18Z"}'
  recorded_at: Thu, 26 May 2016 13:09:41 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4543'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"12612b70a154c3e06e8da2477ae73524"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":59751231,"name":"my-awesome-repo","full_name":"<GITHUB_USER>/my-awesome-repo","owner":{"login":"<GITHUB_USER>","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USER>","html_url":"https://github.com/<GITHUB_USER>","followers_url":"https://api.github.com/users/<GITHUB_USER>/followers","following_url":"https://api.github.com/users/<GITHUB_USER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USER>/repos","events_url":"https://api.github.com/users/<GITHUB_USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USER>/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/<GITHUB_USER>/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo","forks_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/deployments","created_at":"2016-05-26T13:09:41Z","updated_at":"2016-05-26T13:09:41Z","pushed_at":"2016-05-26T13:09:41Z","git_url":"git://github.com/<GITHUB_USER>/my-awesome-repo.git","ssh_url":"git@github.com:<GITHUB_USER>/my-awesome-repo.git","clone_url":"https://github.com/<GITHUB_USER>/my-awesome-repo.git","svn_url":"https://github.com/<GITHUB_USER>/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Thu, 26 May 2016 13:09:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4542'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"eaecc4efc9feca2d0818b131b433ba6e"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"8cab92f5b05791bf9b6293f98c5a427edbab9ec1","commit":{"author":{"name":"<GITHUB_USER>","email":"pezholio+<GITHUB_USER>@gmail.com","date":"2016-05-26T13:09:41Z"},"committer":{"name":"<GITHUB_USER>","email":"pezholio+<GITHUB_USER>@gmail.com","date":"2016-05-26T13:09:41Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/8cab92f5b05791bf9b6293f98c5a427edbab9ec1","comment_count":0},"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/commits/8cab92f5b05791bf9b6293f98c5a427edbab9ec1","html_url":"https://github.com/<GITHUB_USER>/my-awesome-repo/commit/8cab92f5b05791bf9b6293f98c5a427edbab9ec1","comments_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/commits/8cab92f5b05791bf9b6293f98c5a427edbab9ec1/comments","author":{"login":"<GITHUB_USER>","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"8cab92f5b05791bf9b6293f98c5a427edbab9ec1"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4541'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"6eea0b3fb04026a960fbba8050c179b7"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"8cab92f5b05791bf9b6293f98c5a427edbab9ec1","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/8cab92f5b05791bf9b6293f98c5a427edbab9ec1"}}'
  recorded_at: Thu, 26 May 2016 13:09:43 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      -[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"I''m in a folder!","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4539'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"6aded74ad0506fc09e45e590af9496ea"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs/9044e97896727c9641c59366ff2261e234dc821b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"9044e97896727c9641c59366ff2261e234dc821b","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs/9044e97896727c9641c59366ff2261e234dc821b"}'
  recorded_at: Thu, 26 May 2016 13:09:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches/gh-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4535'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"3ac97b153ec4610aeab4d8be65716c64"
      Last-Modified:
      - Thu, 26 May 2016 13:09:41 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"8cab92f5b05791bf9b6293f98c5a427edbab9ec1","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/8cab92f5b05791bf9b6293f98c5a427edbab9ec1"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/master","object":{"sha":"8cab92f5b05791bf9b6293f98c5a427edbab9ec1","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/8cab92f5b05791bf9b6293f98c5a427edbab9ec1"}}]'
  recorded_at: Thu, 26 May 2016 13:09:45 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"8cab92f5b05791bf9b6293f98c5a427edbab9ec1","tree":[{"path":"_data/my-awesome-file.csv","mode":"100644","type":"blob","sha":"9044e97896727c9641c59366ff2261e234dc821b"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4534'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
    [...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update 2016-05-26T14:09:44+01:00 [ci skip]","tree":"ef278a1b45ef56d5efb0983e77f7b6b1df996dc9","parents":["8cab92f5b05791bf9b6293f98c5a427edbab9ec1"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4533'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"b15fa02e1b20853ea66a859[...]
- request:
    method: patch
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages
    body:
      encoding: UTF-8
      string: '{"sha":"b63fd071ccf11fc6665647d1dcd78f56fe7e5bf3","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4529'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"db3e105fd4ad8fabc9318adb32d06427"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"b63fd071ccf11fc6665647d1dcd78f56fe7e5bf3","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/b63fd071ccf11fc6665647d1dcd78f56fe7e5bf3"}}'
  recorded_at: Thu, 26 May 2016 13:09:46 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees/b63fd071ccf11fc6665647d1dcd78f56fe7e5bf3?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contents/_data/my-awesome-file.csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4520'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"87141a005cc8879ae057d2aa5a08b2b9"
      Last-Modified:
      - Thu, 26 May 2016 13:09:45 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my-awesome-file.csv","path":"_data/my-awesome-file.csv","sha":"9044e97896727c9641c59366ff2261e234dc821b","size":16,"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contents/_data/my-awesome-file.csv?ref=gh-pages","html_url":"https://github.com/<GITHUB_USER>/my-awesome-repo/blob/gh-pages/_data/my-awesome-file.csv","git_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs/9044e97896727c9641c59366ff2261e234dc821b","download_url":"https://raw.githubusercontent.com/<GITHUB_USER>/my-awesome-repo/gh-pages/_data/my-awesome-file.csv","type":"file","content":"SSdtIGluIGEgZm9sZGVyIQ==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contents/_data/my-awesome-file.csv?ref=gh-pages","git":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs/9044e97896727c9641c59366ff2261e234dc821b","html":"https://github.com/<GITHUB_USER>/my-awesome-repo/blob/gh-pages/_data/my-awesome-file.csv"}}'
  recorded_at: Thu, 26 May 2016 13:09:51 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4519'
      X-Ratelimit-Reset:
      - '1464269351'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 13:09:52 GMT
recorded_with: VCR 3.0.1
