---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3564'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - '"13504020540f2c6789e07767234b7a94"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":58466450,"name":"my-awesome-repo","full_name":"git-data-publisher/my-awesome-repo","owner":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/git-data-publisher","html_url":"https://github.com/git-data-publisher","followers_url":"https://api.github.com/users/git-data-publisher/followers","following_url":"https://api.github.com/users/git-data-publisher/following{/other_user}","gists_url":"https://api.github.com/users/git-data-publisher/gists{/gist_id}","starred_url":"https://api.github.com/users/git-data-publisher/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/git-data-publisher/subscriptions","organizations_url":"https://api.github.com/users/git-data-publisher/orgs","repos_url":"https://api.github.com/users/git-data-publisher/repos","events_url":"https://api.github.com/users/git-data-publisher/events{/privacy}","received_events_url":"https://api.github.com/users/git-data-publisher/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/git-data-publisher/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo","forks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/deployments","created_at":"2016-05-10T14:05:07Z","updated_at":"2016-05-10T14:05:07Z","pushed_at":"2016-05-10T14:05:07Z","git_url":"git://github.com/git-data-publisher/my-awesome-repo.git","ssh_url":"git@github.com:git-data-publisher/my-awesome-repo.git","clone_url":"https://github.com/git-data-publisher/my-awesome-repo.git","svn_url":"https://github.com/git-data-publisher/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 10 May 2016 14:05:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3563'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - W/"dbb27c2cf7fa4917355e3cbc209f4f40"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"master","commit":{"sha":"bb68e4c39b706e1bd4170ae9de172b133c4f286f","commit":{"author":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-10T14:05:07Z"},"committer":{"name":"git-data-publisher","email":"pezholio+git-data-publisher@gmail.com","date":"2016-05-10T14:05:07Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/bb68e4c39b706e1bd4170ae9de172b133c4f286f","comment_count":0},"url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/bb68e4c39b706e1bd4170ae9de172b133c4f286f","html_url":"https://github.com/git-data-publisher/my-awesome-repo/commit/bb68e4c39b706e1bd4170ae9de172b133c4f286f","comments_url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/commits/bb68e4c39b706e1bd4170ae9de172b133c4f286f/comments","author":{"login":"git-data-publisher","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gr[...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"bb68e4c39b706e1bd4170ae9de172b133c4f286f"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3562'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - '"19b0589808d8ab5bb172468798f2dd17"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"bb68e4c39b706e1bd4170ae9de172b133c4f286f","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/bb68e4c39b706e1bd4170ae9de172b133c4f286f"}}'
  recorded_at: Tue, 10 May 2016 14:05:45 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
  [...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"1,2,3\n\"Foo\",\"Bar\",\"Baz\"\n","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3560'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - '"f85d1b6fddd7e4c0c32f342611abe465"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/c46d38c374cd81824aeb74476abc53293db77b08
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"c46d38c374cd81824aeb74476abc53293db77b08","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/blobs/c46d38c374cd81824aeb74476abc53293db77b08"}'
  recorded_at: Tue, 10 May 2016 14:05:46 GMT
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/branches/gh-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Rema[...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3557'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - W/"83e331de615abb49851acd39fe8ba607"
      Last-Modified:
      - Tue, 10 May 2016 14:05:07 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"bb68e4c39b706e1bd4170ae9de172b133c4f286f","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/bb68e4c39b706e1bd4170ae9de172b133c4f286f"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/master","object":{"sha":"bb68e4c39b706e1bd4170ae9de172b133c4f286f","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/bb68e4c39b706e1bd4170ae9de172b133c4f286f"}}]'
  recorded_at: Tue, 10 May 2016 14:05:46 GMT
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"bb68e4c39b706e1bd4170ae9de172b133c4f286f","tree":[{"path":"data/my-awesome-file.csv","mode":"100644","type":"blob","sha":"c46d38c374cd81824aeb74476abc53293db77b08"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3556'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
    [...]
- request:
    method: post
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update 2016-05-10T15:05:46+01:00 [ci skip]","tree":"f2bef105cb772d4ee16dc93c60e3998b81226e72","parents":["bb68e4c39b706e1bd4170ae9de172b133c4f286f"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3554'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - '"0285f72f104ca5063f2ab91[...]
- request:
    method: patch
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages
    body:
      encoding: UTF-8
      string: '{"sha":"1b2dee1a3eecc44d397f14a87db9c1911d5a45bf","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3553'
      X-Ratelimit-Reset:
      - '1462889517'
      Etag:
      - W/"319ad439aad136d491d14cef446a7b31"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"1b2dee1a3eecc44d397f14a87db9c1911d5a45bf","type":"commit","url":"https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/commits/1b2dee1a3eecc44d397f14a87db9c1911d5a45bf"}}'
  recorded_at: Tue, 10 May 2016 14:05:48 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo/git/trees/1b2dee1a3eecc44d397f14a87db9c1911d5a45bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
    [...]
- request:
    method: delete
    uri: https://api.github.com/repos/git-data-publisher/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3548'
      X-Ratelimit-Reset:
      - '1462889517'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 14:05:49 GMT
recorded_with: VCR 3.0.1
