---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - ec02c2c469fc2653bd92f7437dcd73c992047fb4
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Wed, 01 Mar 2017 12:35:58 GMT
[...]
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - bf2bfe1234a5536a949ba8709efb707e240e741d
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Wed, 01 Mar 2017 12:35:58 GMT
recorded_with: VCR 3.0.3
