<div class="row title-dataset">
  <div class="col-md-3">
    <h1>Schemas:</h1>
  </div>
</div>
<div class="box-dataset">
  <table class="table table-striped"
  data-toggle="table"
  data-classes="table"
  data-filter-control="true">
    <thead>
      <tr>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Publisher</th>
        <th data-sortable="true">Created on</th>
        <th data-sortable="true">Files</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dataset_files.each do |file| %>
        <% if file.dataset_file_schema_id %>
          <tr>
            <td><%= file.dataset_file_schema.name %></td>
            <td><%= file.dataset_file_schema.owner_username %></td>
            <td><%= time_or_date(file.dataset_file_schema.created_at) %></td>
            <td><%= file.dataset_file_schema.count_datasets_using_this_schema %></td>
            <td>...</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
