<div class="title-dataset">
  <h1>Schemas:</h1>
</div>
<div class="box-dataset">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Publisher</th>
        <th>Created on</th>
        <th>Files</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dataset_files.each do |file| %>
        <% if file.dataset_file_schema_id %>
          <tr>
            <td><%= file.dataset_file_schema.name %></td>
            <td><%= file.dataset_file_schema.owner_username %></td>
            <td><%= time_or_date(file.dataset_file_schema.created_at) %></td>
            <td><%= file.dataset_file_schema.count_datasets_using_this_schema %></td>
            <td>...</td>
          </tr>
        <% else %>
          <p class='text-center lead'>You currently have no schemas associated with this dataset, why not add one?</p>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
