<div class="title-dataset">
  <h1>Schemas:</h1>
</div>
<div class="box-dataset">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Publisher</th>
        <th>Format</th>
        <th>Created on</th>
        <th>Type</th>
        <th>Files</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dataset_files.each do |file| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>...</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
