---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/theodi/blockchain-and-distributed-technology-landscape-research/pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1466591375'
      Etag:
      - W/"41be6b3272162787f5417fdeb80fd0c8"
      Last-Modified:
      - Fri, 27 May 2016 09:49:36 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/theodi/blockchain-and-distributed-technology-landscape-research/pages","status":"built","cname":"dlt-research.labs.theodi.org","custom_404":false}'
  recorded_at: Wed, 22 Jun 2016 09:51:30 GMT
recorded_with: VCR 3.0.3
