---
http_interactions:
- request:
    method: get
    uri: http://licenses.opendefinition.org/licenses/OGL-UK-3.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jan 2015 04:59:03 GMT
      X-Fastly-Request-Id:
      - 418b916ffc55a6431d378b1cb10eb476d61bb8f9
    body:
      encoding: ASCII-8BIT
      string: "{\n  \"domain_content\": true, \n  \"domain_data\": true, \n  \"domain_software\":
        true, \n  \"family\": \"\", \n  \"id\": \"OGL-UK-3.0\", \n  \"is_generic\":
        false, \n  \"od_conformance\": \"approved\", \n  \"osd_conformance\": \"not
        reviewed\", \n  \"maintainer\": \"UK Government\", \n  \"status\": \"active\",
        \n  \"title\": \"Open Government Licence 3.0 (United Kingdom)\", \n  \"url\":
        \"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\"\n}\n"
  recorded_at: Tue, 07 Feb 2017 20:56:20 GMT
[...]
- request:
    method: get
    uri: http://file///var/folders/1n/k9v0bh8n229d4tdqmn6h2cgm0000gn/T/valid-cotw.csv20170207-9472-bp2gb6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Feb 2017 20:56:20 GMT
- request:
    method: get
    uri: http://file///var/folders/1n/k9v0bh8n229d4tdqmn6h2cgm0000gn/T/valid-cotw.csv20170207-9472-bp2gb6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Feb 2017 20:56:20 GMT
recorded_with: VCR 3.0.3
