$squash: #e8aa14;
$warm-grey: #999999;
$red: #a30000;
$black: #333333;
$bright-orange: #FF6701;
$deep-orange: #DF5A02;
$dusk-blue: #2f529f;
$cobalt: #19336c;
$green: #0dbc37;
$tree-green: #147c20;
$light-grey: #EBEBEB;
$white: #FFFFFF;
$dark-black: #000000;