@import "colors";

// Typography
h1 {
  font-size: 1.3em;
  font-weight: 500;
  color: $black;
}

p {
  font-size: 1em;
}

a {
  color: $dusk-blue;
  text-decoration: none;

  &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
  }
}
