@import "modules/colors";

// Typography
h1 {
  font-size: 2.2em !important;
  font-weight: 500 !important;
  color: $black;
  margin-bottom: 0.5em;

  &.orange {
    color: $bright-orange !important;
  }
}

h2 {
  font-size: 1.2em;
  font-weight: 500;

  &.orange {
    color: $bright-orange !important;
  }
}

p {
  font-size: 1em;
	line-height: 1.245em;
}

a {
  color: $dusk-blue;
  text-decoration: none;

  &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
  }
}
