---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4724'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"1255555d275d433c926c270b4fc3a401"
      Last-Modified:
      - Thu, 26 May 2016 12:32:18 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"<GITHUB_USER>","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USER>","html_url":"https://github.com/<GITHUB_USER>","followers_url":"https://api.github.com/users/<GITHUB_USER>/followers","following_url":"https://api.github.com/users/<GITHUB_USER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USER>/repos","events_url":"https://api.github.com/users/<GITHUB_USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USER>/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":0,"following":0,"created_at":"2014-10-10T08:16:33Z","updated_at":"2016-05-26T12:32:18Z"}'
  recorded_at: Thu, 26 May 2016 13:08:16 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4723'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"f07824fb73f173f5657b04d7d46c23c3"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":59751139,"name":"my-awesome-repo","full_name":"<GITHUB_USER>/my-awesome-repo","owner":{"login":"<GITHUB_USER>","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USER>","html_url":"https://github.com/<GITHUB_USER>","followers_url":"https://api.github.com/users/<GITHUB_USER>/followers","following_url":"https://api.github.com/users/<GITHUB_USER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USER>/repos","events_url":"https://api.github.com/users/<GITHUB_USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USER>/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/<GITHUB_USER>/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo","forks_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/deployments","created_at":"2016-05-26T13:08:16Z","updated_at":"2016-05-26T13:08:16Z","pushed_at":"2016-05-26T13:08:16Z","git_url":"git://github.com/<GITHUB_USER>/my-awesome-repo.git","ssh_url":"git@github.com:<GITHUB_USER>/my-awesome-repo.git","clone_url":"https://github.com/<GITHUB_USER>/my-awesome-repo.git","svn_url":"https://github.com/<GITHUB_USER>/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":0}'
  recorded_at: Thu, 26 May 2016 13:08:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4722'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"f22b4baf2d3de0024fe826a3e409839c"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","commit":{"author":{"name":"<GITHUB_USER>","email":"pezholio+<GITHUB_USER>@gmail.com","date":"2016-05-26T13:08:16Z"},"committer":{"name":"<GITHUB_USER>","email":"pezholio+<GITHUB_USER>@gmail.com","date":"2016-05-26T13:08:16Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","comment_count":0},"url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/commits/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","html_url":"https://github.com/<GITHUB_USER>/my-awesome-repo/commit/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","comments_url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/commits/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70/comments","author":{"login":"<GITHUB_USER>","id":9130479,"avatar_url":"https://avatars.githubusercontent.com/u/9130479?v=3","gravatar_id":"","url":[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4721'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"ddec03cd1ac600c9256998244bc11f06"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70"}}'
  recorded_at: Thu, 26 May 2016 13:08:18 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      -[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"1,2,3\n\"Foo\",\"Bar\",\"Baz\"\n","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4719'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"f85d1b6fddd7e4c0c32f342611abe465"'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      Location:
      - https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs/c46d38c374cd81824aeb74476abc53293db77b08
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"c46d38c374cd81824aeb74476abc53293db77b08","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/blobs/c46d38c374cd81824aeb74476abc53293db77b08"}'
  recorded_at: Thu, 26 May 2016 13:08:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches/gh-pages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4715'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"df72319e029fc35538beb643fbe09462"
      Last-Modified:
      - Thu, 26 May 2016 13:08:16 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70"}},{"ref":"refs/heads/master","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/master","object":{"sha":"ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70"}}]'
  recorded_at: Thu, 26 May 2016 13:08:20 GMT
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70","tree":[{"path":"data/my-awesome-file.csv","mode":"100644","type":"blob","sha":"c46d38c374cd81824aeb74476abc53293db77b08"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4714'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
    [...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update 2016-05-26T14:08:19+01:00 [ci skip]","tree":"f2bef105cb772d4ee16dc93c60e3998b81226e72","parents":["ee46c9dbcedcf0341b1414b5c1196ab4fbf38a70"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4713'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - '"c9f5d1aeaa1e1c7449bbcae[...]
- request:
    method: patch
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages
    body:
      encoding: UTF-8
      string: '{"sha":"cddd651d881cb44e6483cf4f7af8d5586864ac81","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4709'
      X-Ratelimit-Reset:
      - '1464269351'
      Etag:
      - W/"b10868d720ee98a87ecc98545db4e710"
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"cddd651d881cb44e6483cf4f7af8d5586864ac81","type":"commit","url":"https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/commits/cddd651d881cb44e6483cf4f7af8d5586864ac81"}}'
  recorded_at: Thu, 26 May 2016 13:08:21 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/trees/cddd651d881cb44e6483cf4f7af8d5586864ac81?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-L[...]
- request:
    method: delete
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4703'
      X-Ratelimit-Reset:
      - '1464269351'
      X-Oauth-Scopes:
      - delete_repo, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Oauth-Client-Id:
      - 5a928d2c36588bef4f4c
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 13:08:23 GMT
recorded_with: VCR 3.0.1
