@import "modules/base";

// Table toolbar
.toolbar {
  margin-top: $margin;
  margin-bottom: $margin * 2;

  h1 {
    font-weight: bold;
    color: $bright-orange !important;
  }

  .col-md-offset-4 {
    padding-right: 0;
  }

  .form-group {
    margin-bottom: 0;

    .form-control {
      height: 36.85px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      border-radius: 0;
      border: none;
      -webkit-box-shadow:inset 0 -2px 0 $warm-grey;
      -moz-box-shadow:inset 0 -2px 0 $warm-grey;
      box-shadow:inset 0 -2px 0 $warm-grey;

      &:focus {
        -webkit-box-shadow:inset 0 -2px 0 $dusk-blue;
        -moz-box-shadow:inset 0 -2px 0 $dusk-blue;
        box-shadow:inset 0 -2px 0 $dusk-blue;
      }
    }
  }
}


.bootstrap-table {
  background: white;
  padding: $padding;
}

// Bootstrap dropdown for the 'actions' table column in the 'Published' dashboard
.dropdown {
  .action-box {
    background: $dusk-blue;
    border-radius: 0;
    padding: 1em 0 0 1em;
    margin-right: 1.5em;

    .dropdown-item {
      display: block;
      color: white;
      font-size: 16px;
      padding-bottom: 1em;
      position: relative !important;
    }
  }
}
