@import "modules/base";

// Table toolbar
.toolbar {
  margin-top: $margin;
  margin-bottom: $margin * 2;

  h1 {
    font-weight: bold;
    color: $bright-orange !important;
  }

  .col-md-offset-4 {
    padding-right: 0;
  }

  .form-group {
    margin-bottom: 0;

    .form-control {
      height: 36.85px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      border-radius: 0;
      border: none;
      -webkit-box-shadow:inset 0 -2px 0 $warm-grey;
      -moz-box-shadow:inset 0 -2px 0 $warm-grey;
      box-shadow:inset 0 -2px 0 $warm-grey;
    }
  }
}

// Overwrite Bootstrap styling
.bootstrap-table {
  background: white;
  padding: $padding;

  .fixed-table-container {
    border:0px !important;

    .table {
      border-bottom:0px !important;
    }

    thead > tr {
      border-bottom: 1px solid $light-grey;
    }

    tbody > tr > td {
      vertical-align: middle;
      outline: 0;
    }

    th, td {
      border: 1px !important;
      vertical-align: middle;

      .action-button {
        font-size: 1.2em;
        font-weight: bold;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    // Setting background color for each row
    .table-striped>tbody>tr:nth-child(even)>td,
    .table-striped>tbody>tr:nth-child(even)>th {
       background-color: $light-grey;
     }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
      background-color: $white;
    }
  }
}

// Bootstrap popover for the 'actions' table column in the 'Published' dashboard
.popover {
  background: $dusk-blue;
  width: 150px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin-left: -67px;
  margin-right: 20px;
  padding-right: 1em;

  .arrow {
    left: 90% !important;
  }

  .bottom {
    margin-top: 0;
  }

  ul {
    list-style: none;
    -webkit-padding-start: 0;
    padding-left: 0;

    li {
      border-bottom: solid 0.5px white;
      padding: 1em 0 1em 0;

      &:first-child {
        padding-top: 0.5em;
      }

      a {
        color: $white;
        padding-left: 0.3em;
      }
    }
  }
}
