@import "modules/base";

.head-dataset {

  .btn-tertiary {
    float: right !important;
    margin-left: 20px;
  }
}

.box-dataset {
  background-color: $white;
  padding: $padding;

  .row {
    margin-bottom: $margin;
  }
}
