// Place all the styles related to the dataset_file_validation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.report-results {
	font-size: 13px;

	border-top: none;

		td, th {
			text-align: center;
			border:none !important;
		}

		th {
			background-color: #fff;

			.result {
				font-size: 30px;
				line-height: 30px;
				display: block;
				text-align: center;
				border-top: none;
			}
		}

	 .errors, .errors-none {
			background-color: #f2dede;
			color: #d60303;
		}

		.warnings, .warnings-none {
			background-color: #fcf8e3;
			color: #F9BC26;
		}

		.info_messages, .info_messages-none {
			background-color: #d9edf7;
			color: #00b7ff;
		}

		.errors-none, .warnings-none, .info_messages-none {
			background-color: whitesmoke;
		}

		td.warnings, td.errors, td.info_messages, td.active{
			font-size: 22px;
			font-weight: bold;
			border: 2px solid #fff;
		}

		td.name {
			text-align: right;
			line-height: 31px;

		}
}

.validation_url {
	font-size: 22px;
	font-weight: bold;
	margin-top: 0;
  height: 30px;
  width: 100%;

	a {
		color: #428bca;
	}
}
