@import 'modules/base';

footer {
  background-color: $dark-black;
  color: $white;
  width: 100%;
  height: 9em;
  padding-top: $padding;
  padding-bottom: $padding;
	position: absolute;
  left: 0;
  bottom: 0;

  .row {
    display: flex;
    align-items: center;
		margin: 0 2em 0 2em;
  }

  .top {
    padding-top: $padding;
  }

  h1 {
    color: $white;
  }

  img {
    width: 105px;
    margin-bottom: 0.4em;

    &.licence {
      width: 69px;
    }
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  small {
    font-size: 0.75em;
    line-height: 0.2px !important;
  }
}
