@import "modules/base";

@mixin home-box($hv) {
  background: $hv;
  padding: $padding * 3;
  margin: -2em -16px 0.6em -16px;

	.pub {
		font-weight: 100;
	}

  .row {
    margin-top: $margin * 2;

    .table-count-box {
      padding-top: 1.2em;
      text-align: right;
    }
  }
}

.home-box-white {
	@include home-box($white);

	h1 {
		font-weight: 100 !important;
	}

	span {
		font-weight: 500 !important;
	}

}

.home-box-black {
	@include home-box($black);
	color: $white;
	margin: 0 -16px 0 -16px;
}

.home-box-grey {
	@include home-box($light-grey);
	margin: 0 -16px 0 -16px;
}

.home-box-blue {
	@include home-box($dusk-blue);
	margin: 0 -16px 0 -16px;
}

.home-box-cobalt {
	@include home-box($cobalt);
	margin: 0 -16px 0 -16px;
}
