@import "modules/base";

@mixin home-box($hv) {
	display: flex;
	justify-content: center;
  background: $hv;
  padding: 0.6em;
	margin: 0 -16px 0 -16px;

	.pub {
		font-weight: 100;
	}

	.home-text {
		padding: 2em;
		text-align: left;
		max-width: 45%;

		.underline {
			text-decoration: underline;
		}

		.btn {
			margin: 1em 1em 0 0;
		}
	}

	.home-image {
		padding: 2em;
		text-align: left;
		max-width: 45%;

		img {
			width: 100%;
			margin-top: 1em;
		}
	}
}

.home-box-head {
	@include home-box($white);
	display: block;
	padding: 3em;
	margin: 0 -16px 0.6em -16px;

	h1 {
		font-weight: 100 !important;
	}

	span {
		font-weight: 500 !important;
	}

	.pub {
		font-weight: 100;
	}
}

.home-box-table {
	@include home-box($light-grey);
	display: block;

	.row {
		margin-top: $margin * 2;

		.table-count-box {
			padding-top: 1.2em;
			text-align: right;
		}
	}
}

.home-box-dashboard {
	@include home-box($light-grey);
	display: block;
	padding: 1em 10% 1em 10%;
}

.home-box-white {
	@include home-box($black);
	color: $white;
}

.home-box-black {
	@include home-box($black);
	color: $white;
}

.home-box-grey {
	@include home-box($light-grey);
}

.home-box-blue {
	@include home-box($dusk-blue);
	color: white;
}

.home-box-cobalt {
	@include home-box($cobalt);
	color: white;
}
