@import "modules/base";

@mixin button($bg, $hv) {
  background: $bg;
  color: $white;
	font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-shadow:inset 0 -3px 0 $hv;
  -moz-box-shadow:inset 0 -3px 0 $hv;
  box-shadow:inset 0 -3px 0 $hv;
	margin-right: 20px;

  &:hover {
    background-color: $hv;
    color: $white;
  }

  &:active {
    background:darken($bg, 0.4);
  }

  &:focus {
    color: $white;
    outline: 0;
    border: none;
    -moz-outline-style: none
  }
}

.btn {
 border-radius:0;
}

.btn-prim {
   @include button($bright-orange, $deep-orange);

   &:disabled {
     opacity: 0.4;
   }
}

.btn-secondary {
  @include button($dusk-blue, $cobalt);

  &:disabled {
    opacity: 0.4;
  }
}

.btn-tertiary {
  @include button($white, $cobalt);
  color: $dusk-blue;
  -webkit-box-shadow:inset 0 0 0 2px $dusk-blue;
  -moz-box-shadow:inset 0 0 0 2px $dusk-blue;
  box-shadow:inset 0 0 0 2px $dusk-blue;
  // border: solid 2px $dusk-blue;

  &:disabled {
    opacity: 0.4;
  }

  &:hover {
    color: $white;
  }
}
