@import "modules/base";

.fixed-table-container, .table-container, .table-bordered {
  border: none;

	thead > tr > th {
		border: none;

		.both {
			float: left;
		}
	}

  .table {
    border-bottom:0px !important;

    thead > tr {
      border-bottom: 1px solid $light-grey;
    }

		thead > tr > th {
			border: none;
		}

    tbody > tr > td {
      vertical-align: middle;
      outline: 0;

      .collection-link {
        color: $black;

        &:hover {
          text-decoration: none;
        }
      }

			.no-records-found {

				td {
					text-align: left;
					font-style: italic;
				}
			}
    }

    th, td {
      border: 1px !important;
      vertical-align: middle;

      .dropdown-toggle {
        font-size: 1.2em;
        text-align: center;
      }

      .dropdown-menu {
        background: $dusk-blue;
        border-radius: 0;
        margin-top: 0;
        padding: 0;

        .dropdown-item {
          display: block;
          color: white;
          font-size: 1em;
          position: relative !important;
          outline: 0;
					text-decoration: none;

					&:hover {
						background-color: $cobalt;
						text-decoration: none;
					}

          .dropdown-link {
            padding: $padding 0 $padding $padding;

            .a {
              text-decoration: none;
            }

            &:hover {
              background-color: $cobalt;
            }
          }
        }
      }
    }
  }

  // Setting background color for each row
  .table-striped>tbody>tr:nth-child(even)>td,
  .table-striped>tbody>tr:nth-child(even)>th {
     background-color: $light-grey;
   }

  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: $white;
  }

  .fixed-table-body {
    overflow: visible;
  }
}
