/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-select
 *= require devise_bootstrap_views
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "extra/*";
@import "api";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 20px 0 0 0;
  margin-bottom: 160px;
}

.navbar-text {
  margin: 7px 15px 5px 0 !important;

  .btn {
    margin-left: 7px;
  }
}

footer {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  left: 15px;
}

.dropdown-menu > li > a {
  padding: 3px 40px;
}

td.owner {
  white-space: nowrap;
}

.progress {
  margin-top: 15px;
}

footer {
  img {
    width: 175px;
    margin: 0 0 0 -10px;
  }
  background-color: #f7f7f9;
  padding: 10px 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
}
