/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-select
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-table";

@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/*";
@import "modules/*";
@import "partials/*";
@import "api";

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #EBEBEB;
    font-size: 16px;
    padding: 0 1.2em 0 0;
    margin-bottom: 160px;
}

.container {
  width: 100vw;
}

.getting-started {

  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 5px 0px 5px 5px;
  }

  img {

    border: 1px solid #eee;
    padding: 5px;
    margin: 5px 5px 0px 0px;

  }
}

.license-list {
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  left: 15px;
}

.dropdown-menu > li > a {
  padding: 3px 40px;
}

td.owner {
  white-space: nowrap;
}

.progress {
  margin-top: 15px;
}

footer {
  img {
    width: 175px;
    margin: 0 0 0 -10px;
  }
  background-color: #f7f7f9;
  padding: 10px 0;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
}

/* Tooltip container */
.tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltips .tooltiptexts {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptexts {
  visibility: visible;
}
