<div class="jumbotron">
  <h2>You must be logged in to do that!</h2>
  <p><%= link_to "<i class='fa fa-github'></i> Sign in with Github".html_safe, '/auth/github', class: "btn btn-primary btn-lg" %></p>
  <small><%= link_to "Not got a Github account?", "https://github.com/join" %></small>
</div>
