<div class="jumbotron">
  <h1>Octopub</h1>
  <h2>Publish data easily, quickly and correctly</h2>
  <p>Got a dataset you want to publish, but not sure how to do it? Octopub will help you do it,
    quickly, easily and correctly.</p>
  <p>Using the power of <a href="http://github.com">GitHub</a>, we will provide you with a platform
    to publish your CSV data, as well as automatically creating a webpage for you to point people
    to.</p>

  <% unless current_user %>
    <p><%= link_to "<i class='fa fa-github'></i> Sign in with Github".html_safe, '/auth/github', class: "btn btn-primary btn-lg" %></p>
    <small><%= link_to "Not got a Github account?", "https://github.com/join" %></small>
  <% end %>
</div>
