<div class="jumbotron">
  <h1>Git Data Publisher</h1>
  <p class="primary">Publish data easily, quickly and correctly</p>
  <p>Got a dataset you want to publish, but not sure how to do it? Git Data Publisher will help you do it,
    quickly, easily and correctly.</p>
  <p>Using the power of <a href="http://github.com">GitHub</a>, we will provide you with a platform
    to publish your CSV, XML or JSON data, as well as automatically creating a webpage for you to point people
    to.</p>
  <p><a class="btn btn-primary btn-lg" href="/datasets/new">Get started</a></p>
</div>
