<div class="jumbotron">
  <h1>FSA Data Publisher</h1>
  <h2>Publish data easily, quickly and correctly</h2>
  <p>Bacon ipsum dolor amet cupim magna filet mignon flank, chicken chuck aliqua tri-tip shankle ribeye laboris porchetta kevin. Cupim beef ribs mollit, tenderloin pork chop excepteur dolor consectetur enim biltong leberkas rump salami ribeye. Dolore chicken adipisicing dolore ground round ad pig andouille. Beef ribs rump elit brisket venison. Ut flank est swine, culpa non reprehenderit incididunt fatback porchetta drumstick tongue. Bresaola laboris proident, turducken occaecat et biltong corned beef culpa quis ut irure tri-tip dolore do.</p>

  <% unless current_user %>
    <p><%= link_to "<i class='fa fa-github'></i> Sign in with Github".html_safe, '/auth/github', class: "btn btn-primary btn-lg" %></p>
    <small><%= link_to "Not got a Github account?", "https://github.com/join" %></small>
  <% end %>
</div>
