---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1485521621'
      Etag:
      - W/"195aea3a486d7b72d1989f9d4edb83b0"
      Last-Modified:
      - Thu, 19 Jan 2017 14:56:03 GMT
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"test-user","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false,"name":"James
        Smith","company":"The Open Data Institute","blog":"http://www.test-user.org.uk","location":"Horsham,
        UK","email":"james@test-user.org.uk","hireable":null,"bio":"Building a
        better future out of code. Head of Labs at @theodi, party leader of @SomethingNewUK,
        founder of @cleanweb-uk, and chair of @cdcssg. Neutral Good.","public_repos":83,"public_gists":9,"followers":82,"following":24,"created_at":"2008-03-21T17:05:23Z","updated_at":"2017-01-19T14:56:03Z"}'
  recorded_at: Fri, 27 Jan 2017 12:34:32 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"private":true,"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1485521621'
      Etag:
      - '"cbd3d152b98a6439c5c276783ce256d6"'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/test-user/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":80205965,"name":"my-awesome-repo","full_name":"test-user/my-awesome-repo","owner":{"login":"test-user","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/test-user/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/test-user/my-awesome-repo","forks_url":"https://api.github.com/repos/test-user/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/test-user/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-user/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-user/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/test-user/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/test-user/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/test-user/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/test-user/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/test-user/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-user/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/test-user/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/test-user/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/test-user/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/test-user/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/test-user/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/test-user/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-user/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-user/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/test-user/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-user/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/test-user/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-user/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/test-user/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/test-user/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/test-user/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/test-user/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-user/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/test-user/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/test-user/my-awesome-repo/deployments","created_at":"2017-01-27T12:34:32Z","updated_at":"2017-01-27T12:34:32Z","pushed_at":"2017-01-27T12:34:33Z","git_url":"git://github.com/test-user/my-awesome-repo.git","ssh_url":"git@github.com:test-user/my-awesome-repo.git","clone_url":"https://github.com/test-user/my-awesome-repo.git","svn_url":"https://github.com/test-user/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Fri, 27 Jan 2017 12:34:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/test-user/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1485521621'
      Etag:
      - W/"7ec8e874826c0483b7d368386303cd02"
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"92bc4195b186922e5e2a4b4ef38cbe022c1da8be","commit":{"author":{"name":"James
        Smith","email":"james@test-user.org.uk","date":"2017-01-27T12:34:33Z"},"committer":{"name":"James
        Smith","email":"james@test-user.org.uk","date":"2017-01-27T12:34:33Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/92bc4195b186922e5e2a4b4ef38cbe022c1da8be","comment_count":0},"url":"https://api.github.com/repos/test-user/my-awesome-repo/commits/92bc4195b186922e5e2a4b4ef38cbe022c1da8be","html_url":"https://github.com/test-user/my-awesome-repo/commit/92bc4195b186922e5e2a4b4ef38cbe022c1da8be","comments_url":"https://api.github.com/repos/test-user/my-awesome-repo/commits/92bc4195b186922e5e2a4b4ef38cbe022c1da8be/comments","author":{"login":"test-user","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.co[...]
- request:
    method: post
    uri: https://api.github.com/repos/test-user/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"92bc4195b186922e5e2a4b4ef38cbe022c1da8be"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1485521621'
      Etag:
      - '"f2a36a0dc6c8c40d5b056a1747c594c3"'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"92bc4195b186922e5e2a4b4ef38cbe022c1da8be","type":"commit","url":"https://api.github.com/repos/test-user/my-awesome-repo/git/commits/92bc4195b186922e5e2a4b4ef38cbe022c1da8be"}}'
  recorded_at: Fri, 27 Jan 2017 12:34:34 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '50[...]
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1485521621'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2017 12:34:36 GMT
recorded_with: VCR 3.0.3
