---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1484842180'
      Etag:
      - W/"195aea3a486d7b72d1989f9d4edb83b0"
      Last-Modified:
      - Thu, 19 Jan 2017 14:56:03 GMT
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"test-user","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false,"name":"James
        Smith","company":"The Open Data Institute","blog":"http://www.test-user.org.uk","location":"Horsham,
        UK","email":"james@test-user.org.uk","hireable":null,"bio":"Building a
        better future out of code. Head of Labs at @theodi, party leader of @SomethingNewUK,
        founder of @cleanweb-uk, and chair of @cdcssg. Neutral Good.","public_repos":83,"public_gists":9,"followers":82,"following":24,"created_at":"2008-03-21T17:05:23Z","updated_at":"2017-01-19T14:56:03Z"}'
  recorded_at: Thu, 19 Jan 2017 15:11:20 GMT
- request:
    method: post
    uri: https://api.github.com/orgs/theodi/repos
    body:
      encoding: UTF-8
      string: '{"private":true,"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1484842180'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Visibility can''t be private. Please upgrade your plan
        to create a new private repository.","documentation_url":"https://github.com/pricing"}'
  recorded_at: Thu, 19 Jan 2017 15:11:20 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/test-user/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1484842180'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 19 Jan 2017 15:11:21 GMT
recorded_with: VCR 3.0.3
