---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1484842180'
      Etag:
      - W/"195aea3a486d7b72d1989f9d4edb83b0"
      Last-Modified:
      - Thu, 19 Jan 2017 14:56:03 GMT
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false,"name":"James
        Smith","company":"The Open Data Institute","blog":"http://www.<GITHUB_USER>.org.uk","location":"Horsham,
        UK","email":"james@<GITHUB_USER>.org.uk","hireable":null,"bio":"Building a
        better future out of code. Head of Labs at @theodi, party leader of @SomethingNewUK,
        founder of @cleanweb-uk, and chair of @cdcssg. Neutral Good.","public_repos":83,"public_gists":9,"followers":82,"following":24,"created_at":"2008-03-21T17:05:23Z","updated_at":"2017-01-19T14:56:03Z"}'
  recorded_at: Thu, 19 Jan 2017 15:10:38 GMT
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"private":true,"auto_init":true,"name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1484842180'
      Etag:
      - '"63cea55f0554d3409e89d8c1b7e2ca1e"'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/Floppy/my-awesome-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":79465132,"name":"my-awesome-repo","full_name":"Floppy/my-awesome-repo","owner":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/Floppy/my-awesome-repo","description":null,"fork":false,"url":"https://api.github.com/repos/Floppy/my-awesome-repo","forks_url":"https://api.github.com/repos/Floppy/my-awesome-repo/forks","keys_url":"https://api.github.com/repos/Floppy/my-awesome-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Floppy/my-awesome-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Floppy/my-awesome-repo/teams","hooks_url":"https://api.github.com/repos/Floppy/my-awesome-repo/hooks","issue_events_url":"https://api.github.com/repos/Floppy/my-awesome-repo/issues/events{/number}","events_url":"https://api.github.com/repos/Floppy/my-awesome-repo/events","assignees_url":"https://api.github.com/repos/Floppy/my-awesome-repo/assignees{/user}","branches_url":"https://api.github.com/repos/Floppy/my-awesome-repo/branches{/branch}","tags_url":"https://api.github.com/repos/Floppy/my-awesome-repo/tags","blobs_url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Floppy/my-awesome-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/Floppy/my-awesome-repo/languages","stargazers_url":"https://api.github.com/repos/Floppy/my-awesome-repo/stargazers","contributors_url":"https://api.github.com/repos/Floppy/my-awesome-repo/contributors","subscribers_url":"https://api.github.com/repos/Floppy/my-awesome-repo/subscribers","subscription_url":"https://api.github.com/repos/Floppy/my-awesome-repo/subscription","commits_url":"https://api.github.com/repos/Floppy/my-awesome-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/Floppy/my-awesome-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/Floppy/my-awesome-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/Floppy/my-awesome-repo/contents/{+path}","compare_url":"https://api.github.com/repos/Floppy/my-awesome-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Floppy/my-awesome-repo/merges","archive_url":"https://api.github.com/repos/Floppy/my-awesome-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Floppy/my-awesome-repo/downloads","issues_url":"https://api.github.com/repos/Floppy/my-awesome-repo/issues{/number}","pulls_url":"https://api.github.com/repos/Floppy/my-awesome-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/Floppy/my-awesome-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/Floppy/my-awesome-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Floppy/my-awesome-repo/labels{/name}","releases_url":"https://api.github.com/repos/Floppy/my-awesome-repo/releases{/id}","deployments_url":"https://api.github.com/repos/Floppy/my-awesome-repo/deployments","created_at":"2017-01-19T15:10:38Z","updated_at":"2017-01-19T15:10:38Z","pushed_at":"2017-01-19T15:10:39Z","git_url":"git://github.com/Floppy/my-awesome-repo.git","ssh_url":"git@github.com:Floppy/my-awesome-repo.git","clone_url":"https://github.com/Floppy/my-awesome-repo.git","svn_url":"https://github.com/Floppy/my-awesome-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Thu, 19 Jan 2017 15:10:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1484842180'
      Etag:
      - W/"5b489929490afce7642deab48ff5db22"
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"master","commit":{"sha":"c64072c4029450d9c8efd140f23b66675d7f8f42","commit":{"author":{"name":"James
        Smith","email":"james@<GITHUB_USER>.org.uk","date":"2017-01-19T15:10:39Z"},"committer":{"name":"James
        Smith","email":"james@<GITHUB_USER>.org.uk","date":"2017-01-19T15:10:39Z"},"message":"Initial
        commit","tree":{"sha":"c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff","url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/trees/c028dbbdc73e274b5ef646cc63bf5c0bd0ca18ff"},"url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/commits/c64072c4029450d9c8efd140f23b66675d7f8f42","comment_count":0},"url":"https://api.github.com/repos/Floppy/my-awesome-repo/commits/c64072c4029450d9c8efd140f23b66675d7f8f42","html_url":"https://github.com/Floppy/my-awesome-repo/commit/c64072c4029450d9c8efd140f23b66675d7f8f42","comments_url":"https://api.github.com/repos/Floppy/my-awesome-repo/commits/c64072c4029450d9c8efd140f23b66675d7f8f42/comments","author":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Flop[...]
- request:
    method: post
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","sha":"c64072c4029450d9c8efd140f23b66675d7f8f42"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1484842180'
      Etag:
      - '"0f6f9a8fe8fb92d3099be0d90fafbc32"'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/Floppy/my-awesome-repo/git/refs/heads/gh-pages
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gh-pages","url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/refs/heads/gh-pages","object":{"sha":"c64072c4029450d9c8efd140f23b66675d7f8f42","type":"commit","url":"https://api.github.com/repos/Floppy/my-awesome-repo/git/commits/c64072c4029450d9c8efd140f23b66675d7f8f42"}}'
  recorded_at: Thu, 19 Jan 2017 15:10:40 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
    body:
      encoding: UTF-8
      string: '{"default_branch":"gh-pages","name":"my-awesome-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      -[...]
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/<GITHUB_USER>/my-awesome-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1484842180'
      X-Oauth-Scopes:
      - delete_repo, read:org, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Jan 2017 15:10:41 GMT
recorded_with: VCR 3.0.3
