<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <%= image_tag 'basic-72-W-170px.svg', alt: 'ODI Logo' %></br>
        <a href="mailto:info@theodi.org?Subject=Hello" target="_top" alt="Contact the ODI" title="Contact the ODI">info@theodi.org</a></br>
        <small>Open Data Institute</small></br>
        <small>65 Clifton Street, London, EC21 4JE</small>
				<small>Company 08030289</small></br>
				<small>VAT1243 7796 80</small></br>
				<%= link_to "Privacy policy", "/privacy-policy", title: 'Octopub Privacy Policy' %>
      </div>
      <div class="col-md-5 col-sm-12 tools">
        <div class="col-md-5 col-sm-5">
          <p>Our other tools:</p>
          <a href="https://csvlint.io/" alt="CSVLint" title="CSVLint" target="_blank">CSVLint</a></br>
          <a href="http://comma-chameleon.io/" alt="Comma Chameleon" title="Comma Chameleon" target="_blank">Comma Chameleon</a></br>
        </div>
        <div class="col-md-7 col-sm-12">
          <a href="https://bothan.io/" alt="Bothan" title="Bothan" target="_blank">Bothan</a></br>
          <a href="http://certificates.theodi.org/en/" alt="Open Data Certificates" title="Open Data Certificates" target="_blank">Open Data Certificates</a></br>
          <a href="http://pathway.theodi.org/" alt="Open Data Pathway" title="Open Data Pathway" target="_blank">Open Data Pathway</a></br>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 help">
        <p>Need help?</p>
        <a href="mailto:info@theodi.org?Subject=Hello" target="_top">Contact us</a></br>
      </div>
      <div class="col-md-2 col-sm-12 licence">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/CC-BY-SA_icon.svg/1280px-CC-BY-SA_icon.svg.png', alt: 'ODI Labs', class: 'licence' %></br>
      </div>
    </div>
  </div>
</footer>
