<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <%= image_tag 'basic-72-W-170px.svg', alt: 'ODI Logo' %></br>
        <a href="mailto:info@theodi.org?Subject=Hello" target="_top" alt="Contact the ODI" title="Contact the ODI">info@theodi.org</a></br>
        <small>Open Data Institute</small></br>
        <small>5th Floor, Kings Place, 90 York Way, London N1 9AG</small>
	<%= link_to "Privacy policy", "/privacy-policy", title: 'Octopub Privacy Policy' %>
      </div>
      <div class="col-md-5 col-sm-12 tools">
        <div class="col-md-5 col-sm-5">
          <p>Our other tools:</p>
          <a href="https://csvlint.io/" alt="CSVLint" title="CSVLint" target="_blank">CSVLint</a></br>
          <a href="http://certificates.theodi.org/en/" alt="Open Data Certificates" title="Open Data Certificates" target="_blank">Open Data Certificates</a></br>
          <a href="http://pathway.theodi.org/" alt="Open Data Pathway" title="Open Data Pathway" target="_blank">Open Data Pathway</a></br>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 help">
        <p>Need help?</p>
        <a href="mailto:info@theodi.org?Subject=Hello" target="_top">Contact us</a></br>
      </div>
      <div class="col-md-2 col-sm-12 licence">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/CC-BY-SA_icon.svg/1280px-CC-BY-SA_icon.svg.png', alt: 'ODI Labs', class: 'licence' %></br>
      </div>
    </div>
  </div>
</footer>
