<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <%= image_tag 'basic-72-W-170px.svg', alt: 'ODI Logo' %><br />
	<a href="mailto:info@theodi.org?Subject=Hello" target="_top">Contact us</a><br />
	<%= link_to "Privacy policy", "/privacy-policy", title: 'Octopub Privacy Policy' %><br />
	<%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/CC-BY-SA_icon.svg/1280px-CC-BY-SA_icon.svg.png', alt: 'ODI Labs', class: 'licence' %></br>
      </div>
    </div>
  </div>
</footer>
