<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-3">
        <%= image_tag 'basic-72-W-170px.svg', alt: 'ODI Labs' %><br />
        <a href="mailto:info@theodi.org?Subject=Hello" target="_top">info@theodi.org</a><br />
        <small>Open Data Institute</small><br />
        <small>65 Clifton Street, London, EC21 4JE</small>
      </div>

      <div class="col-md-5 col-sm-5">
        <div class="col-md-5 col-sm-5">
          <p style="font-weight: 100; line-height: 0; text-decoration: none;">Our other tools:</p><br />
          <a href="https://csvlint.io/" alt="CSVLint" title="CSVLint" target="_blank">CSVLint</a><br />
          <a href="http://comma-chameleon.io/" alt="Comma Chameleon" title="Comma Chameleon" target="_blank">Comma Chameleon</a><br />
        </div>
        <div class="col-md-7 col-sm-7">
          <a href="https://bothan.io/" alt="Bothan" title="Bothan" target="_blank">Bothan</a><br />
          <a href="http://certificates.theodi.org/en/" alt="Open Data Certificates" title="Open Data Certificates" target="_blank">Open Data Certificates</a><br />
          <a href="http://pathway.theodi.org/" alt="Open Data Pathway" title="Open Data Pathway" target="_blank">Open Data Pathway</a><br />
        </div>
      </div>

      <div class="col-md-2 col-sm-2">
        <p>Need help?</p>
        <a href="mailto:info@theodi.org?Subject=Hello" target="_top">Contact us</a><br />
      </div>

      <div class="col-md-2 col-sm-2">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/CC-BY-SA_icon.svg/1280px-CC-BY-SA_icon.svg.png', alt: 'ODI Labs', class: 'licence' %><br />
        <small>Company 08030289</small><br />
        <small>VAT1243 7796 80</small>
      </div>
    </div>
  </div>
</footer>
